.section-consulting .text-description-editor {
  height: 14.375em; }

.section-list-specialty .section-footer,
.section-list-services .section-footer {
  height: 42px; }

.line-muted-dashed {
  background-position: center; }
