/**
*   color
*/
/**
*   size
*/
/* size rem */
/* size em */
/**
* border-radius
 */
/**

* border-color
 */
/**
* spacing text
 */
/**
* variable custom
 */
/**
* size custom
 */
body {
  background: url("../../../images/background/background-visit.png");
}

#visit_menu {
  background: #F0F1F1;
}

.size-twenty-four, .icon-send, .icon-secretary, .icon-end-consultation, .icon-question-more, .icon-visit, .icon-payment, .icon-report, .icon-questionnaire, .icon-notification-end-counseling, .icon-smart-assistant, .icon-note, .icon-artificial-intelligence, .icon-more, .icon-microphone, .icon-paper, .icon-smile {
  width: 1.5em;
  height: 1.5em;
}

.icon-menu {
  width: 2.5em;
  height: 2.5em;
  background: url("../../../images/icons/menu.png") center no-repeat;
}

.icon-smile {
  background: url("../../../images/icons/smile.png") no-repeat;
}

.icon-paper {
  background: url("../../../images/icons/paper.png") center no-repeat;
}

.icon-microphone {
  background: url("../../../images/icons/microphone.png") center no-repeat;
}

.icon-more {
  background: url("../../../images/icons/more.png") no-repeat;
}

.icon-artificial-intelligence {
  background: url("../../../images/icons/artificial-intelligence.png") no-repeat;
}

.icon-note {
  background: url("../../../images/icons/note.png") no-repeat;
}

.icon-smart-assistant {
  background: url("../../../images/icons/smart-assistant.png") no-repeat;
}

.icon-notification-end-counseling {
  background: url("../../../images/icons/notification-end-counseling.png") no-repeat;
}

.icon-questionnaire {
  background: url("../../../images/icons/questionnaire.png") no-repeat;
}

.icon-report {
  background: url("../../../images/icons/statistics.png") no-repeat;
}

.icon-payment {
  background: url("../../../images/icons/payment.png") no-repeat;
}

.icon-visit {
  background: url("../../../images/icons/visit.png") no-repeat;
}

.icon-question-more {
  background: url("../../../images/icons/question-more.png") no-repeat;
}

.icon-end-consultation {
  background: url("../../../images/icons/end-consultation.png") no-repeat;
}

.icon-secretary {
  background: url("../../../images/icons/secretary.png") no-repeat;
}

.icon-send {
  background: url("../../../images/icons/send.png") no-repeat;
}

.section-chats .card {
  width: 18.75em;
}

.operation-patient,
.operation-doctor {
  width: 2.5em;
}
.operation-patient .dropdown-menu,
.operation-doctor .dropdown-menu {
  min-width: unset;
  width: 2.188em;
  height: 4.5em;
}

.operation-doctor .dropdown-menu {
  inset: 0.125em 5.313em auto auto !important;
}

.operation-patient .dropdown-menu {
  inset: 0.125px -7.563em auto auto !important;
}

.dropdown-toggle::before,
.dropdown-toggle::after {
  border: unset !important;
}

.menu-operations-visit {
  width: 18em;
}

/* style emoji */
.emojionearea .emojionearea-editor {
  direction: rtl;
  min-height: 3em;
  max-height: 3em;
  padding: 0.75em 1.625em 0.625em 0.75em;
}

.emojionearea .emojionearea.form-control {
  height: 3em;
  background: none;
}

.emojionearea .emojionearea-button {
  top: 0.625em;
  right: -1.125em;
}

.emojionearea .emojionearea-editor:empty:before {
  margin: 0 5px 0 -1px;
}

.emojionearea.form-control {
  box-shadow: unset;
}

.emojionearea-button {
  margin: 0 !important;
}

.emojionearea .emojionearea-button > div,
.emojionearea .emojionearea-picker .emojionearea-wrapper:after {
  background-image: url("../../../images/icons/back-emoji1.png") !important;
}

.emojionearea-filters-position-top {
  right: 0 !important;
}

.emojionearea .emojionearea-button > div {
  width: 2.063em;
}

.card-patient .card,
.card-replay-patient .card {
  border-radius: 0 8px 8px 8px;
}

.card-replay-doctor .card-body,
.card-answer-doctor .card-body {
  border-radius: 8px 0 8px 8px;
}

/*# sourceMappingURL=visit.css.map */
