/* variables */
/**
*   color
*/
/**
*   size
*/
/* size rem */
/* size em */
/**
* border-radius
 */
/**

* border-color
 */
/**
* spacing text
 */
.card-info-doctor .btn-group {
  border: 0.063em solid #009d38; }
  .card-info-doctor .btn-group a:not(:last-child) {
    border-left: 0.063em solid #009d38; }

.video-introduction-doctor {
  width: 19.375em;
  height: 12.5em; }

/* swiper style */
.swiper-gallery-doctor {
  width: 18.75em;
  height: 18.75em;
  padding: 3.125em; }
  .swiper-gallery-doctor .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 18.75em; }
  .swiper-gallery-doctor .swiper-slide img {
    width: 100%;
    height: 100%; }
  .swiper-gallery-doctor .swiper-button-next {
    left: -.313em; }
  .swiper-gallery-doctor .swiper-button-prev {
    right: -.313em; }
  .swiper-gallery-doctor .swiper-button-prev:after,
  .swiper-gallery-doctor .swiper-button-next:after {
    content: ''; }

iframe {
  width: 100%; }

#contact_map {
  height: 15.625em; }

.get-advice-fixed {
  bottom: .625em;
  z-index: 9999; }

.icon-share {
  background: url("../../../images/icons/share.png") no-repeat; }

.icon-edit-comment,
.icon-tags {
  width: 1.25em;
  height: 1.25em; }

.icon-edit-comment {
  background: url("../../../images/icons/edit-comment.png") no-repeat; }

.icon-tags {
  background: url("../../../images/icons/tags.png") no-repeat; }

.section-about-doctor .card-body {
  height: 12.5em; }

.operation-comment .btn {
  width: 2em;
  height: 2em; }

.operation-comment .btn-tags:hover .icon-tags {
  background: url("../../../images/icons/tag-light.png") no-repeat; }

.operation-comment .btn-comment:hover {
  background: #17A2B8; }
  .operation-comment .btn-comment:hover .icon-edit-comment {
    background: url("../../../images/icons/edit-comment-light.png") no-repeat; }

.links-doctor a {
  color: #009d38; }
