@import "variables";

.size-thirty{
  width: $size-30;
  height: $size-30;
}

.size-twenty-five{
  width: $size-25;
  height: $size-25;
}

.size-twenty-four{
  width: $size-24;
  height: $size-24;
}

.size-twenty{
  width: $size-20;
  height: $size-20;
}

.size-forty{
  width: $size-40;
  height: $size-40;
}

html{
  font-size: 1rem;
}

body{
  direction: rtl;
  font-family: IRANSans,'sans-serif';
  font-weight: 500;
  background: #fff;
  color: $iso-dark;
  overflow-x: hidden;
}

a{
  text-decoration: none;
}

hr{
  opacity: 1;
}

h1,h2,h3,h4,h5,h6{
  line-height: $line-height-size;
}

h1{
  font-size: 24px;
}

h2{
  font-size: 22px;
}

h3{
  font-size: 20px;
}

h4{
  font-size: 18px;
}

h5{
  font-size: 16px;
}

h6{
  font-size: 14px;
}

p{
  line-height: $line-height-size;
  font-weight: 400;
}

/* delete counter input number in Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* delete counter input number in Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.form-control:focus,
.btn:focus {
  box-shadow: 0 0;
}

.form-control:focus{
  border: 1px solid $iso-blue-dark;
}

.content{
  background: $iso-gray-light;
}

main,
header,
footer,
{
  font-size: 16px;
}

.menu-user-body{
  transform: translatey(-.313em);
}

.btn:active:focus{
  box-shadow: unset;
}

button {
  &.iso-color-blue-dark:hover {
    border: 1px solid $iso-green-dark;
    color: $iso-green-dark;
  }
}

a:hover{
  color: $iso-blue-dark;
}

.active-btn{
  &:hover,&:active{
    color: white;
    background: $iso-green-dark;
  }
}

.link-active,
.link-hover{
  &:after{
    content: "";
    position: absolute;
    width: 100%;
    bottom: -0.375em;
    height: 0.25em;
    border-radius: 8px;
    left: 0;
  }
}

.link-hover{
  position: relative;

  &:hover{
    color: $iso-blue-dark;
  }

  &:after{
    background: none;
  }

  &:hover:after{
    background: $iso-blue-dark;
  }
}

.link-active{
  position: relative;
  color: $iso-blue-dark;
  &:after{
    background: $iso-blue-dark;
  }
}

.hover-line-white:hover {
  border-bottom: 0.125rem solid #f8f9fa;
}

.btn-close{
  @extend .size-thirty;
  display: flex;
  justify-content: center;
  align-items: center;
  i{
    display: flex;
    align-items: center;
  }
}

.btn-close-danger-modal{
  @extend .btn-close;
  background-color: #fff;
  border: 2px solid #DC3545;
}

.btn-close-light-modal{
  @extend .btn-close;
  background-color: $iso-blue-dark;
  border: 2px solid #fff;
}

.btn-outline-primary{
  color: $color-primary;
  border-color: $color-primary;
}

.dropdown{
  .nav-link:after{
    all: unset;
  }
}

/* swiper start */
.swiper-button-next,
.swiper-button-prev{
  width: 2.813em;
  height: 2.813em;
}

.swiper-button-disabled{
  pointer-events: visible !important;
}

.swiper-button-next:after,
.swiper-button-prev:after{
  content: '' !important;
}

.swiper-pagination-bullet-active{
  width: 1.25em;
  border-radius: 0.5rem;
  background: $iso-blue-dark;
}
/* swiper end */

.communication-iso{
  left: 4%;
  bottom: 1.5em;
  padding: 0.797em;
  .dropdown-menu-communication{
    bottom: 2.375em;
    left: 0;
    width: 10em;
    li{
      display: none;
    }
  }
}

.scroll-top{
  right: 4%;
  bottom: 1.60em;
  width: 2em;
  height: 2em;
}

.rotate-180deg,
.rotate-0deg{
  transition: 0.4s ease;
}

.rotate-180deg{
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.rotate-0deg{
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}

.img-md {
  width: 60px;
  height: 60px;
}

.img-sm {
  width: 40px;
  height: 40px;
}

.img-llg{
  width: 45px;
  height: 45px;
}

.img-lg{
  width: 72px;
  height: 72px;
}

.iso-position-absolute{
  position: absolute;
}

.iso-position-relative{
  position: relative;
}

@mixin line-dashed-style($background-end,$background-front,$size_width,$size_height){
  background-image: linear-gradient(to right, $background-end 50%, $background-front 50%);
  background-size: $size_width +px $size_height+px;
}

.line-blur-dashed,
.line-muted-dashed,
.line-black-dashed,
.line-muted-bg-green-dashed,
.line-muted-back-white-dashed{
  width: 100%;
  height: .1883em;
  background-position: top;
  background-repeat: repeat-x;
}

.line-black-dashed{
  @include line-dashed-style(#fff,#000,17,16);
}

.line-muted-dashed{
  @include line-dashed-style(#F0F1F1,$iso-secondary,10,2);
}

.line-muted-back-white-dashed{
  @include line-dashed-style(#fff,$iso-secondary,10,2);
}

.line-muted-bg-green-dashed{
  @include line-dashed-style(#d1e7dd,$iso-secondary,10,2);
}

.line-blur-dashed{
  @include line-dashed-style(#fff,$iso-blue-dark,17,16);
}

.profile-doctor{
  .img-box-profile{
    width: 5.125em;
    height: 4.5em;

    .badge{
      padding: 5px 2px 5px 2px;
      right: -1.2em;
      bottom: .75em;
    }
  }
}

.section-comments-users {

  > .section-body {
    top: -0.813em;
  }

  .swiper-comments-users {

    .card {
      width: 15.125em;
      height: 12.5em;
    }

    .swiper-slide {
      width: 15em;
    }

    .swiper-wrapper{
      height: 14em;
    }
  }
}

.section-doctors {

  .section-header {
    button {
      bottom: 1.063em;
    }
  }

  .card-doctor {
    width: 14.8em;

    .card-img {
      width: 5.563em;

      span {
        bottom: 0.375em;
        right: -0.313em;
      }
    }
  }

  .swiper-doctors {
    height: 15em;

    .swiper-slide {
      width: 14.8em;
    }
  }

  .swiper-button-next,
  .swiper-button-prev{
    top: 44%;
  }
}

.section-articles{
  .card{
    height: 23.625em;
  }
}

.section-medicines {

  .section-title {
    top: -0.45em;
  }

  .swiper-slide {
    width: 18.75em;
  }

  .card {
    height: 10em;
  }

  img {
    width: 5.313em;
  }

  .title-medicines{
    height: 3.25em;
  }

  .card-body {
    div {
      span {
        text-overflow: ellipsis;
      }
    }
  }
}

.card-doctor-advisory-icon{
  span{
    width: 1.8em;
    height: 1.8em;
  }
}

.card-doctor-advisory-insurance-icon{
  width: 6.8em;
  height: 1.8em;
}

/* list class icons */
.icon-whatsapp{
  @extend .size-twenty-five;
  background: url("../../images/icons/whatsapp.png") center no-repeat;
}

.icon-telegram-circle{
  @extend .size-twenty-five;
  background: url("../../images/icons/telegram.png") center no-repeat;
}

.icon-ticket{
  @extend .size-twenty-five;
  background: url("../../images/icons/ticket.png") center no-repeat;
}

.icon-phone{
  @extend .size-twenty-five;
  background: url("../../images/icons/phone.png") center no-repeat;
}

.icon-bar{
  @extend .size-thirty;
  background: url("../../images/icons/bar.png") no-repeat;
}

.icon-close-blue{
  width: 1.5em;
  height: 1.5em;
  background: url("../../images/icons/close-blue.png") center no-repeat;
}

.icon-alert{
  width: 2em;
  height: 2em;
  background: url("../../images/icons/alert.png") no-repeat;
}

.icon-umbrella-active,
.icon-umbrella-disabled{
  width: 1.25em;
  height: 1.25em;
}

.icon-umbrella-disabled{
  background: url("../../images/icons/umbrella-disabled.png");
}

.icon-umbrella-active{
  background: url("../../images/icons/umbrella-active.png");
}

.icon-support{
  width: 2em;
  height: 2em;
  background: url("../../images/icons/support.png") no-repeat;
}

.icon-support-light{
  @extend .size-forty;
  background: url("../../images/icons/icon-support-light.png") no-repeat;
  background-size: cover;
}

.icon-close{
  @extend .size-forty;
  background: url("../../images/icons/close.png") no-repeat;
  background-size: cover;
}

.icon-telegram-blue{
  @extend .size-twenty-four;
  background: url("../../images/icons/telegram-blue.png") no-repeat;
}

.icon-telegram-light{
  @extend .size-twenty-four;
  background: url("../../images/icons/telegram-light.png") no-repeat;
}

.icon-email{
  @extend .size-twenty-four;
  background: url("../../images/icons/email.png") no-repeat;
}

.icon-edit {
  @extend .size-twenty-four;
  background: url("../../images/icons/edit.png") no-repeat;
}

.icon-trash {
  @extend .size-twenty-four;
  background: url("../../images/icons/trash.png") no-repeat;
}

.icon-check{
  width:$size-20;
  height: $size-20;
  background: url("../../images/icons/check.png") no-repeat;
}

.icon-instagram-blue{
  @extend .size-twenty-four;
  background: url("../../images/icons/instegram-blue.png") no-repeat;
}

.icon-instagram-light{
  @extend .size-twenty-four;
  background: url("../../images/icons/instagram-light.png") no-repeat;
}

.icon-aparat{
  @extend .size-thirty;
  background: url("../../images/icons/aparat.png");
}

.icon-gmail{
  @extend .size-thirty;
  background: url("../../images/icons/gmail.png");
}

.icon-user{
  @extend .size-twenty-five;
  background: url("../../images/icons/user.png") no-repeat;
}

.iso-form-check-input{
  @extend .size-twenty-five;
  border: 2px solid rgba(0,0,0,.25);
}

.icon-edit-comment{
  @extend .size-twenty;
  background: url("../../images/icons/edit-comment.png") no-repeat;
}

.icon-tags{
  @extend .size-twenty;
  background: url("../../images/icons/tags.png") no-repeat;
}

.captcha{
  img{
    width: 6.813em;
    height: 2em;
  }
}
/* list doctors */
.section-list-doctors{
  .card-body{
    height: 7.188em;
  }
}

.star_rating_doctor{
  width: 4.313em;
  height: 1.5em;
}

.love-active{
  animation: animate-love-active 0.2s linear;
  -webkit-animation: animate-love-active 0.2s linear;
  -moz-animation: animate-love-active 0.2s linear;
}

.love-disabled{
  animation: animate-love-disabled 0.2s linear;
  -webkit-animation: animate-love-disabled 0.2s linear;
  -moz-animation: animate-love-disabled 0.2s linear;
}

@keyframes animate-love-active {
  0%{
    transform: scale(1,1);
    -webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
    -o-transform: scale(1,1);
  }
  100%{
    transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
    -moz-transform: scale(1.2,1.2);
    -o-transform: scale(1.2,1.2);
  }
}

@keyframes animate-love-disabled {
  100%{
    transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
    -moz-transform: scale(1.2,1.2);
    -o-transform: scale(1.2,1.2);
  }
  0%{
    transform: scale(1,1);
    -webkit-transform: scale(1,1);
    -moz-transform: scale(1,1);
    -o-transform: scale(1,1);
  }
}

#copy_link{
  border: 1px solid $iso-secondary;
}

.tooltip-text {
  width: 5em;
  left: 40%;
  opacity: 0;
}

.tooltip-active{
  animation: tooltip_effect 3s;
  -webkit-animation: tooltip_effect 3s;
  -moz-animation: tooltip_effect 3s;
  -o-animation: tooltip_effect 3s;
}

@keyframes tooltip_effect {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

.optional.is-invalid,
.optional.is-valid{
  border: 1px solid #ced4da;
  background-image: unset;
}

/* style error validation */
.error{
  width: 100%;
  height: $iso-xxs-em;
  color: red;
  font-size: $iso-xs-em;
}

#form_comments{
  .input-group-height{
    height: 8.375em;
  }
}

/* style section filter profile_user and visit */
.filter-consultants{
  .btn{
    width: 9.813em;
    height: 2.938em;
  }
}

/* style section profile doctor start */
.operation-comment{
  .btn{
    width: 2em;
    height: 2em;
  }

  .btn-tags:hover{
    & .icon-tags{
      background: url("../../images/icons/tag-light.png") no-repeat;
    }
  }

  .btn-comment:hover{
    & .icon-edit-comment{
      background: url("../../images/icons/edit-comment-light.png") no-repeat;
    }
  }
}
/* style section profile doctor end */

.modal-login,
.modal-edit-mobile{

  .border-blue{
    border: 2px solid $iso-blue-dark;
  }

  .box-timer{
    width: 7.25em;
    height: 2.125em;
    margin: 12px 0 19px 0;
  }

  .input-phone,
  .box-verification-code,
  .box-password{
    height: 2.5em;
  }

  .box-verification-code{
    border: 1px solid #dee2e6;
    &:focus-within{
      @extend .border-blue;
      .box-line-input{
        span{
          background: $iso-blue-dark;
        }
      }
    }
  }

  .box-verification-code{
    input{
      padding-left: 1.75em;
      letter-spacing: 41px;
      width: 15rem;
      left: .79em;
    }
    .box-line-input{
      right: -0.4em;
      span{
        width: 2.5em;
        height: .125em;
        background: #6c757d;
        top: 1.813em;
      }
      .line-1{
        left: 10.125em;
      }
      .line-2{
        left: 7.063em;
      }
      .line-3{
        left: 4em;
      }
      .line-4{
        left: .875em;
      }
    }
  }

  .form-modal-login{
    width: 15em;
  }

  input:focus{
    @extend .border-blue;
  }

  .modal-body{
    height: 240px;
    padding: 10px;
  }

  .show-password{
    left: 0.625em;
    top: 0.63em;
    background: rgb(248,249,250);
  }

  .link-modal{
    button{
      color: $iso-blue-dark;
    }
  }
}

#collapse_froum{
  .form-select-birth{
    width:10em;
  }

  .input-height,
  .input-weight{
    width: 6.2em;
    span{
      top: 0.73em;
      left: 0.2em;
    }
  }
}

