/* svg style global */
.animator-hidden {
  display: none;
}

#freepik_stories-online-review:not(.animated),
#freepik_stories-pharmacist:not(.animated),
#freepik_stories-doctors:not(.animated),
#freepik_stories-online-doctor:not(.animated),
#freepik_stories-online-article:not(.animated),
#freepik_stories-about-us-page:not(.animated),
#freepik_stories-accept-terms:not(.animated),
#freepik_stories-emails:not(.animated),
#freepik_stories-faq:not(.animated),
#freepik_stories-active-support:not(.animated),
#freepik_stories-cellphone:not(.animated),
#freepik_stories-critical-thinking:not(.animated),
#freepik_stories-mobile-development:not(.animated),
#freepik_stories-completed:not(.animated),
#freepik_stories-insurance:not(.animated),
#freepik_stories-contact-us:not(.animated),
#freepik_stories-personal-files:not(.animated),
#freepik_stories-user-research:not(.animated),
#freepik_stories-business-deal:not(.animated),
#freepik_sign_in_doctor:not(.animated) {
  .animable {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animated{
  width: 20em;
  height: 20em;
}

.animated-edit-position {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  left: -4.375rem;
  top: -4.4rem;
}

@keyframes slideLeftSectionMain{
  0% {
    opacity: 0;
    transform: translateX(-1.875rem);
    -webkit-transform: translateX(-1.875rem);
    -moz-transform: translateX(-1.875rem);
    -o-transform: translateX(-1.875rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

@keyframes slideRightSectionMain {
  0% {
    opacity: 0;
    transform: translateX(1.875rem);
    -webkit-transform: translateX(1.875rem);
    -moz-transform: translateX(1.875rem);
    -o-transform: translateX(1.875rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

.properties-animation-slideLeft{
  animation: 1s 1 forwards 0s cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
  -webkit-animation: 1s 1 forwards 0s cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
  -moz-animation: 1s 1 forwards 0s cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
  -o-animation: 1s 1 forwards 0s cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
}

.properties-animation-slideRight{
  animation: 1s 1 forwards 0.4s cubic-bezier(.36,-0.01,.5,1.38) slideRight;
  -webkit-animation: 1s 1 forwards 0.4s cubic-bezier(.36,-0.01,.5,1.38) slideRight;
  -moz-animation: 1s 1 forwards 0.4s cubic-bezier(.36,-0.01,.5,1.38) slideRight;
  -o-animation: 1s 1 forwards 0.4s cubic-bezier(.36,-0.01,.5,1.38) slideRight;
  opacity: 0;
}

/* svg header section  */
#freepik_stories-online-doctor.animated{
  #freepik--cross-icon--inject-31,
  #freepik--Character--inject-31 {
    animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomOut;
    -webkit-animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomOut;
    -moz-animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomOut;
    -o-animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomOut;
  }

  #freepik--pulse-icon--inject-31 {
    animation: 1.5s Infinite linear heartbeat;
    -webkit-animation: 1.5s Infinite linear heartbeat;
    -moz-animation: 1.5s Infinite linear heartbeat;
    -o-animation: 1.5s Infinite linear heartbeat;
  }

  #freepik--Chat--inject-31 {
    animation: 2.9s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    -webkit-animation: 2.9s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    -moz-animation: 2.9s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
    -o-animation: 2.9s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;

  }
}

@keyframes zoomOut {
  0% {
    opacity: 0;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
  }
  10% {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
  30% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
  60% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(.5);
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    -o-transform: scale(.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(.1);
    -o-transform: scale(.1);
  }
}

/* svg doctors section main */
#freepik_stories-doctors.animated {
  #freepik--character-1--inject-4 {
    animation: 1.0s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideLeftSectionMain;
    -webkit-animation: 1.0s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideLeftSectionMain;
    -moz-animation: 1.0s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideLeftSectionMain;
    -o-animation: 1.0s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideLeftSectionMain;
  }

  #freepik--character-2--inject-4 {
    animation: 1s 1 forwards 0.8s cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    -webkit-animation: 1s 1 forwards 0.8s cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    -moz-animation: 1s 1 forwards 0.8s cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    -o-animation: 1s 1 forwards 0.8s cubic-bezier(.36, -0.01, .5, 1.38) fadeIn;
    opacity: 0;
  }

  #freepik--character-3--inject-4 {
    animation: 1s 1 forwards 0.4s cubic-bezier(.36,-0.01,.5,1.38) slideRightSectionMain;
    -webkit-animation: 1s 1 forwards 0.4s cubic-bezier(.36,-0.01,.5,1.38) slideRightSectionMain;
    -moz-animation: 1s 1 forwards 0.4s cubic-bezier(.36,-0.01,.5,1.38) slideRightSectionMain;
    -o-animation: 1s 1 forwards 0.4s cubic-bezier(.36,-0.01,.5,1.38) slideRightSectionMain;
    opacity: 0;
  }
}

/* svg section comments users*/
#freepik_stories-online-review.animated{
  #freepik--Character--inject-31 {
    animation: 1.1s 1 forwards 0s cubic-bezier(.36,-0.01,.5,1.38) slideRightSectionMain;
    -webkit-animation: 1.1s 1 forwards 0s cubic-bezier(.36,-0.01,.5,1.38) slideRightSectionMain;
    -moz-animation: 1.1s 1 forwards 0s cubic-bezier(.36,-0.01,.5,1.38) slideRightSectionMain;
    -o-animation: 1.1s 1 forwards 0s cubic-bezier(.36,-0.01,.5,1.38) slideRightSectionMain;
  }

  #freepik--Review--inject-31 {
    animation: 1.2s 1 forwards  0.6s cubic-bezier(.36,-0.01,.5,1.38) fadeIn;
    -webkit-animation: 1.2s 1 forwards  0.6s cubic-bezier(.36,-0.01,.5,1.38) fadeIn;
    -moz-animation: 1.2s 1 forwards  0.6s cubic-bezier(.36,-0.01,.5,1.38) fadeIn;
    -o-animation: 1.2s 1 forwards  0.6s cubic-bezier(.36,-0.01,.5,1.38) fadeIn;
    opacity: 0;
  }
}

/* svg section medicines */
#freepik_stories-pharmacist.animated {
  #freepik--Character--inject-20
  {
    animation: 1s 1 forwards 0.4s cubic-bezier(.36,-0.01,.5,1.38) slideRight;
    -webkit-animation: 1s 1 forwards 0.4s cubic-bezier(.36,-0.01,.5,1.38) slideRight;
    -moz-animation: 1s 1 forwards 0.4s cubic-bezier(.36,-0.01,.5,1.38) slideRight;
    -o-animation: 1s 1 forwards 0.4s cubic-bezier(.36,-0.01,.5,1.38) slideRight;
    opacity: 0;
  }
  #freepik--Counter--inject-20 {
    animation: 1s 1 forwards 0s cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    -webkit-animation: 1s 1 forwards 0s cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    -moz-animation: 1s 1 forwards 0s cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    -o-animation: 1s 1 forwards 0s cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
  }
}

/* svg section articles */
#freepik_stories-online-article.animated {
  #freepik--Device--inject-45 {
    animation: 1.1s 1 forwards  0s cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    -webkit-animation: 1.1s 1 forwards  0s cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    -moz-animation: 1.1s 1 forwards  0s cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    -o-animation: 1.1s 1 forwards  0s cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
  }

  #freepik--Character--inject-45 {
    animation: 1.1s 1 forwards 0.4s cubic-bezier(.36,-0.01,.5,1.38) slideRight;
    -webkit-animation: 1.1s 1 forwards 0.4s cubic-bezier(.36,-0.01,.5,1.38) slideRight;
    -moz-animation: 1.1s 1 forwards 0.4s cubic-bezier(.36,-0.01,.5,1.38) slideRight;
    -o-animation: 1.1s 1 forwards 0.4s cubic-bezier(.36,-0.01,.5,1.38) slideRight;
    opacity: 0;
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-1.875rem);
    -webkit-transform: translateX(-1.875rem);
    -moz-transform: translateX(-1.875rem);
    -o-transform: translateX(-1.875rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(1.875rem);
    -webkit-transform: translateX(1.875rem);
    -moz-transform: translateX(1.875rem);
    -o-transform: translateX(1.875rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

/* svg section sing-in */

#freepik_sign_in_doctor.animated {
  #freepik--character-2--inject-80 {
    @extend .properties-animation-slideLeft;
  }
}

.svg-sing-in-doctor{
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -o-transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

/* svg section about-us */
#freepik_stories-about-us-page.animated{
  #freepik--Page--inject-23
  {
    animation: 1.2s 1 forwards 0.1s linear slideLeft;
    -webkit-animation: 1.2s 1 forwards 0.1s linear slideLeft;
    -moz-animation: 1.2s 1 forwards 0.1s linear slideLeft;
    -o-animation: 1.2s 1 forwards 0.1s linear slideLeft;
    opacity: 0;
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -o-transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

#freepik_stories-accept-terms.animated {
  #freepik--terms-and-conditions--inject-51 {
    animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideRight;
    -webkit-animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideRight;
    -moz-animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideRight;
    -o-animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideRight;
    animation-delay: 0s;
  }
}

#freepik_stories-accept-terms.animated{
  #freepik--Character--inject-51 {
    animation: 1.2s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    -webkit-animation: 1.2s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    -moz-animation: 1.2s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    -o-animation: 1.2s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    opacity: 0;
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
    -webkit-transform: translateX(30px);
    -moz-transform: translateX(30px);
    -o-transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -o-transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

#freepik_stories-emails.animated{
  #freepik--Email--inject-29 {
    animation: 1.2s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) slideRight;
    -webkit-animation: 1.2s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) slideRight;
    -moz-animation: 1.2s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) slideRight;
    -o-animation: 1.2s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) slideRight;
    opacity: 0;
  }
  #freepik--Character--inject-29 {
    animation: 1.2s 1 forwards 0.2s cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    -webkit-animation: 1.2s 1 forwards 0.2s cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    -moz-animation: 1.2s 1 forwards 0.2s cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    -o-animation: 1.2s 1 forwards 0.2s cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    opacity: 0;
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
    -webkit-transform: translateX(30px);
    -moz-transform: translateX(30px);
    -o-transform: translateX(30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -o-transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
  }
}

#freepik_stories-faq.animated
#freepik--Letters--inject-109 {
  animation: 1.1s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) fadeIn;
  -webkit-animation: 1.1s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) fadeIn;
  -moz-animation: 1.1s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) fadeIn;
  -o-animation: 1.1s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) fadeIn;
  opacity: 0
}

#freepik_stories-faq.animated #freepik--character-4--inject-109 {
  animation: 1.1s 1 forwards 0.2s cubic-bezier(.36,-0.01,.5,1.38) slideUp;
  -webkit-animation: 1.1s 1 forwards 0.2s cubic-bezier(.36,-0.01,.5,1.38) slideUp;
  -moz-animation: 1.1s 1 forwards 0.2s cubic-bezier(.36,-0.01,.5,1.38) slideUp;
  -o-animation: 1.1s 1 forwards 0.2s cubic-bezier(.36,-0.01,.5,1.38) slideUp;
  opacity: 0;
}

#freepik_stories-faq.animated #freepik--speech-bubble--inject-109 {
  animation: 1.2s 1 forwards 0.4s cubic-bezier(.36,-0.01,.5,1.38) slideDown;
  -webkit-animation: 1.2s 1 forwards 0.4s cubic-bezier(.36,-0.01,.5,1.38) slideDown;
  -moz-animation: 1.2s 1 forwards 0.4s cubic-bezier(.36,-0.01,.5,1.38) slideDown;
  -o-animation: 1.2s 1 forwards 0.4s cubic-bezier(.36,-0.01,.5,1.38) slideDown;
  opacity: 0
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -o-transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: inherit;
    -webkit-transform: inherit;
    -moz-transform: inherit;
    -o-transform: inherit;
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -o-transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

#freepik_stories-active-support.animated{
  #freepik--Table--inject-124 {
    animation: 1.2s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) slideUp;
    -webkit-animation: 1.2s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) slideUp;
    -moz-animation: 1.2s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) slideUp;
    -o-animation: 1.2s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) slideUp;
    opacity: 0;
  }
}

#freepik_stories-active-support.animated {
  #freepik--Character--inject-124 {
    animation: 1.2s 1 forwards 0.2s cubic-bezier(.36,-0.01,.5,1.38) slideDown;
    -webkit-animation: 1.2s 1 forwards 0.2s cubic-bezier(.36,-0.01,.5,1.38) slideDown;
    -moz-animation: 1.2s 1 forwards 0.2s cubic-bezier(.36,-0.01,.5,1.38) slideDown;
    -o-animation: 1.2s 1 forwards 0.2s cubic-bezier(.36,-0.01,.5,1.38) slideDown;
    opacity: 0;
  }
}
#freepik_stories-active-support.animated{
  #freepik--Chat--inject-124 {
    animation: 1.3s 1 forwards 0.4s cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    -webkit-animation: 1.3s 1 forwards 0.4s cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    -moz-animation: 1.3s 1 forwards 0.4s cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    -o-animation: 1.3s 1 forwards 0.4s cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    opacity: 0;
  }
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -o-transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: inherit;
    -webkit-transform: inherit;
    -moz-transform: inherit;
    -o-transform: inherit;
  }
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -o-transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
  }
}

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px);
    -webkit-transform: translateX(-30px);
    -moz-transform: translateX(-30px);
    -o-transform: translateX(-30px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
  }
}
/* svg section register_doctors */
#freepik_stories-business-deal.animated{
  #freepik--Contract--inject-64 {
    animation: 1.2s 1 forwards 0.3s cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    -webkit-animation: 1.2s 1 forwards 0.3s cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    -moz-animation: 1.2s 1 forwards 0.3s cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    -o-animation: 1.2s 1 forwards 0.3s cubic-bezier(.36,-0.01,.5,1.38) zoomIn;
    opacity: 0
  }

  #freepik--character-2--inject-64 {
    animation: 1.3s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) slideRight;
    -webkit-animation: 1.3s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) slideRight;
    -moz-animation: 1.3s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) slideRight;
    -o-animation: 1.3s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) slideRight;
    opacity: 0
  }

  #freepik--character-1--inject-64 {
    animation: 1.3s 1 forwards 0.2s cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    -webkit-animation: 1.3s 1 forwards 0.2s cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    -moz-animation: 1.3s 1 forwards 0.2s cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    -o-animation: 1.3s 1 forwards 0.2s cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    opacity: 0}

  @keyframes zoomIn {
    0% {
      opacity: 0;
      transform: scale(0.5);
      -webkit-transform: scale(0.5);
      -moz-transform: scale(0.5);
      -o-transform: scale(0.5);
    }
    100% {
      opacity: 1;
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -o-transform: scale(1);
    }
  }

  @keyframes slideRight {
    0% {
      opacity: 0;
      transform: translateX(30px);
      -webkit-transform: translateX(30px);
      -moz-transform: translateX(30px);
      -o-transform: translateX(30px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -o-transform: translateX(0);
    }
  }

  @keyframes slideLeft {
    0% {
      opacity: 0;
      transform: translateX(-30px);
      -webkit-transform: translateX(-30px);
      -moz-transform: translateX(-30px);
      -o-transform: translateX(-30px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -o-transform: translateX(0);
    }
  }
}

.properties-animation-slideLeft-stories-cellphone{
  animation: 1.3s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
  -webkit-animation: 1.3s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
  -moz-animation: 1.3s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
  -o-animation: 1.3s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
  opacity: 0;
};

.properties-animation-slideRight-stories-cellphone{
  animation: 1.3s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) slideRight;
  -webkit-animation: 1.3s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) slideRight;
  -moz-animation: 1.3s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) slideRight;
  -o-animation: 1.3s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) slideRight;
  opacity: 0;
};

#freepik_stories-cellphone.animated{
  #freepik--Device--inject-234 {
    animation: 1.3s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideDown;
    -webkit-animation: 1.3s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideDown;
    -moz-animation: 1.3s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideDown;
    -o-animation: 1.3s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideDown;
  }

  #freepik--icon-2--inject-234 {
    @extend .properties-animation-slideRight-stories-cellphone;
  }

  #freepik--character-2--inject-234 {
    @extend .properties-animation-slideRight-stories-cellphone;
  }

  #freepik--icon-1--inject-234 {
    @extend .properties-animation-slideLeft-stories-cellphone;
  }

  #freepik--icon-1--inject-234 {
    @extend .properties-animation-slideLeft-stories-cellphone;
  }

  #freepik--character-1--inject-234 {
    @extend .properties-animation-slideLeft-stories-cellphone;
  }

  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-30px);
      -webkit-transform: translateY(-30px);
      -moz-transform: translateY(-30px);
      -o-transform: translateY(-30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -o-transform: translateY(0);
    }
  }

  @keyframes slideRight {
    0% {
      opacity: 0;
      transform: translateX(30px);
      -webkit-transform: translateX(30px);
      -moz-transform: translateX(30px);
      -o-transform: translateX(30px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -o-transform: translateX(0);
    }
  }

  @keyframes slideLeft {
    0% {
      opacity: 0;
      transform: translateX(-30px);
      -webkit-transform: translateX(-30px);
      -moz-transform: translateX(-30px);
      -o-transform: translateX(-30px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -o-transform: translateX(0);
    }
  }
}

.properties-animation-stories-critical-thinking{
  animation: 1.1s 1 forwards 0.1s linear slideRight;
  -webkit-animation: 1.1s 1 forwards 0.1s linear slideRight;
  -moz-animation: 1.1s 1 forwards 0.1s linear slideRight;
  -o-animation: 1.1s 1 forwards 0.1s linear slideRight;
  opacity: 0;
};

#freepik_stories-critical-thinking.animated{
  #freepik--Document--inject-1 {
    @extend .properties-animation-stories-critical-thinking;
  }

  #freepik--Pictures--inject-1 {
    @extend .properties-animation-stories-critical-thinking;
  }

  #freepik--Chart--inject-1 {
    animation: 1.1s 1 forwards 0.1s linear slideRight;
    -webkit-animation: 1.1s 1 forwards 0.1s linear slideRight;
    -moz-animation: 1.1s 1 forwards 0.1s linear slideRight;
    -o-animation: 1.1s 1 forwards 0.1s linear slideRight;
    opacity: 0;
  }

  #freepik--speech-bubbles--inject-1 {
    animation: 1.1s 1 forwards 0.1s linear slideRight;
    -webkit-animation: 1.1s 1 forwards 0.1s linear slideRight;
    -moz-animation: 1.1s 1 forwards 0.1s linear slideRight;
    -o-animation: 1.1s 1 forwards 0.1s linear slideRight;
    opacity: 0;
  }

  #freepik--Shape--inject-1 {
    animation: 1.1s 1 forwards 0.1s linear slideRight;
    -webkit-animation: 1.1s 1 forwards 0.1s linear slideRight;
    -moz-animation: 1.1s 1 forwards 0.1s linear slideRight;
    -o-animation: 1.1s 1 forwards 0.1s linear slideRight;
    opacity: 0;
  }

  #freepik--Gears--inject-1 {
    animation: 1.1s 1 forwards 0.1s linear slideRight;
    -webkit-animation: 1.1s 1 forwards 0.1s linear slideRight;
    -moz-animation: 1.1s 1 forwards 0.1s linear slideRight;
    -o-animation: 1.1s 1 forwards 0.1s linear slideRight;
    opacity: 0;
  }

  #freepik--light-bulb--inject-1 {
    animation: 1.1s 1 forwards 0.1s linear slideRight;
    -webkit-animation: 1.1s 1 forwards 0.1s linear slideRight;
    -moz-animation: 1.1s 1 forwards 0.1s linear slideRight;
    -o-animation: 1.1s 1 forwards 0.1s linear slideRight;
    opacity: 0;
  }

  @keyframes slideRight {
    0% {
      opacity: 0;
      transform: translateX(30px);
      -webkit-transform: translateX(30px);
      -moz-transform: translateX(30px);
      -o-transform: translateX(30px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -o-transform: translateX(0);
    }
  }
}

#freepik_stories-mobile-development.animated {
  #freepik--Device--inject-19 {
    animation: 1.3s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    -webkit-animation: 1.3s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    -moz-animation: 1.3s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    -o-animation: 1.3s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
    opacity: 0;
  }

  #freepik--Interface--inject-19 {
    animation: 1.3s 1 forwards 0.2s cubic-bezier(.36,-0.01,.5,1.38) slideUp;
    -webkit-animation: 1.3s 1 forwards 0.2s cubic-bezier(.36,-0.01,.5,1.38) slideUp;
    -moz-animation: 1.3s 1 forwards 0.2s cubic-bezier(.36,-0.01,.5,1.38) slideUp;
    -o-animation: 1.3s 1 forwards 0.2s cubic-bezier(.36,-0.01,.5,1.38) slideUp;
    opacity: 0;
  }
  @keyframes slideLeft {
    0% {
      opacity: 0;
      transform: translateX(-30px);
      -webkit-transform: translateX(-30px);
      -moz-transform: translateX(-30px);
      -o-transform: translateX(-30px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -o-transform: translateX(0);
    }
  }

  @keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(30px);
      -webkit-transform: translateY(30px);
      -moz-transform: translateY(30px);
      -o-transform: translateY(30px);
    }

    100% {
      opacity: 1;
      transform: inherit;
      -webkit-transform: inherit;
      -moz-transform: inherit;
      -o-transform: inherit;
    }
  }
}

#freepik_stories-completed.animated {
  #freepik--complete-list--inject-163 {
    animation: 1.3s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) slideRight;
    -webkit-animation: 1.3s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) slideRight;
    -moz-animation: 1.3s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) slideRight;
    -o-animation: 1.3s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) slideRight;
    opacity: 0;
  }

  @keyframes slideRight {
    0% {
      opacity: 0;
      transform: translateX(30px);
      -webkit-transform: translateX(30px);
      -moz-transform: translateX(30px);
      -o-transform: translateX(30px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -o-transform: translateX(0);
    }
  }
}

.properties-animation-stories-insurance {
  animation: 1.3s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
  -webkit-animation: 1.3s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
  -moz-animation: 1.3s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
  -o-animation: 1.3s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) slideLeft;
  opacity: 0;
}

#freepik_stories-insurance.animated{
  #freepik--character-1--inject-331 {
    @extend .properties-animation-stories-insurance;
  }

  #freepik--character-2--inject-331 {
    @extend .properties-animation-stories-insurance;
  }
  @keyframes slideLeft {
    0% {
      opacity: 0;
      transform: translateX(-30px);
      -webkit-transform: translateX(-30px);
      -moz-transform: translateX(-30px);
      -o-transform: translateX(-30px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -o-transform: translateX(0);
    }
  }
}
/* style svg stories contact us start */
.properties-animation-stories-contact-us{
  animation: 1.3s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) slideRight;
  -webkit-animation: 1.3s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) slideRight;
  -moz-animation: 1.3s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) slideRight;
  -o-animation: 1.3s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) slideRight;
  opacity: 0;
}

#freepik_stories-contact-us.animated {
  #freepik--Chair--inject-367 {
    @extend .properties-animation-stories-contact-us;
  }

  #freepik--Character--inject-367 {
    @extend .properties-animation-stories-contact-us;
  }

  #freepik--speech-bubble--inject-367 {
    @extend .properties-animation-stories-contact-us;
  }

  #freepik--Bird--inject-367 {
    @extend .properties-animation-stories-contact-us;
  }


  #freepik--Desk--inject-367 {
    @extend .properties-animation-stories-contact-us;
  }

  @keyframes slideRightStoriesContactUs {
    0% {
      opacity: 0;
      transform: translateX(30px);
      -webkit-transform: translateX(30px);
      -moz-transform: translateX(30px);
      -o-transform: translateX(30px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -o-transform: translateX(0);
    }
  }

  @keyframes slideLeft {
    0% {
      opacity: 0;
      transform: translateX(-30px);
      -webkit-transform: translateX(-30px);
      -moz-transform: translateX(-30px);
      -o-transform: translateX(-30px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -o-transform: translateX(0);
    }
  }
}
/* style svg stories contact us end */

/* style svg personal files start */
#freepik_stories-personal-files.animated {
  #freepik--filing-cabinet--inject-384 {
    animation: 1.3s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) slideLeftPersonalFiles;
    -webkit-animation: 1.3s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) slideLeftPersonalFiles;
    -moz-animation: 1.3s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) slideLeftPersonalFiles;
    -o-animation: 1.3s 1 forwards 0.1s cubic-bezier(.36,-0.01,.5,1.38) slideLeftPersonalFiles;
    opacity: 0
  }

  @keyframes slideLeftPersonalFiles {
    0% {
      opacity: 0;
      transform: translateX(-30px);
      -webkit-transform: translateX(-30px);
      -moz-transform: translateX(-30px);
      -o-transform: translateX(-30px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -o-transform: translateX(0);
    }
  }
}
/* style svg personal files end */

/* style svg stories user research start */
.properties-animation-slideLeft-stories-user-research{
  animation: 1.2s 1 forwards 0.2s linear slideLeftStoriesUserResearch;
  -webkit-animation: 1.2s 1 forwards 0.2s linear slideLeftStoriesUserResearch;
  -moz-animation: 1.2s 1 forwards 0.2s linear slideLeftStoriesUserResearch;
  -o-animation: 1.2s 1 forwards 0.2s linear slideLeftStoriesUserResearch;
  opacity: 0;
}

.properties-animation-slideRight-stories-user-research{
  animation: 1.3s 1 forwards 0.2s cubic-bezier(.36,-0.01,.5,1.38) slideRightStoriesUserResearch;
  -webkit-animation: 1.3s 1 forwards 0.2s cubic-bezier(.36,-0.01,.5,1.38) slideRightStoriesUserResearch;
  -moz-animation: 1.3s 1 forwards 0.2s cubic-bezier(.36,-0.01,.5,1.38) slideRightStoriesUserResearch;
  -o-animation: 1.3s 1 forwards 0.2s cubic-bezier(.36,-0.01,.5,1.38) slideRightStoriesUserResearch;
  opacity: 0;
}

#freepik_stories-user-research.animated{
  #freepik--Table--inject-130 {
    @extend .properties-animation-slideLeft-stories-user-research;
  }
  #freepik--profile-2--inject-130 {
     @extend .properties-animation-slideLeft-stories-user-research;
  }
  #freepik--profile-3--inject-130 {
    @extend .properties-animation-slideLeft-stories-user-research;
  }
  #freepik--profile-4--inject-130 {
     @extend .properties-animation-slideLeft-stories-user-research;
  }
  #freepik--profile-1--inject-130 {
    @extend .properties-animation-slideLeft-stories-user-research;
  }
  #freepik--device-1--inject-130 {
     @extend .properties-animation-slideLeft-stories-user-research;
  }
  #freepik--device-2--inject-130 {
     @extend .properties-animation-slideLeft-stories-user-research;
  }
  #freepik--Chair--inject-130 {
    @extend .properties-animation-slideRight-stories-user-research;
  }
  #freepik--Character--inject-130 {
    @extend .properties-animation-slideRight-stories-user-research;
  }

  @keyframes slideLeftStoriesUserResearch {
    0% {
      opacity: 0;
      transform: translateX(-30px);
      -webkit-transform: translateX(-30px);
      -moz-transform: translateX(-30px);
      -o-transform: translateX(-30px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -o-transform: translateX(0);
    }
  }

  @keyframes slideRightStoriesUserResearch {
    0% {
      opacity: 0;
      transform: translateX(30px);
      -webkit-transform: translateX(30px);
      -moz-transform: translateX(30px);
      -o-transform: translateX(30px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -o-transform: translateX(0);
    }
  }
}
/* style svg stories user research end */
/* style svg register doctor end */
