/**
*   color
*/

$iso-dark : #001A34;
$iso-blue-dark : #1773B5;
$iso-blue-light : #CCE5FF;
$iso-gray-light : #F0F1F1;
$iso-light: #F5F5F5;
$iso-white-dark: #F8F9FA;
$iso-green : #28a745;
$iso-green-light : #D1E7DD;
$iso-green-dark : #009d38;
$iso-secondary : #999999;
$iso-warning: #fff3cd;

/**
*   size
*/

/* size rem */
$iso-xxs: 0.625rem;
$iso-xs: 0.75rem;
$iso-sm: 0.875rem;
$iso-md: 1rem;
$iso-lg: 1.125rem;
$iso-llg: 1.25rem;
$iso-xl: 1.563rem;
$iso-xxl: 2.188rem;

/* size em */
$iso-xxs-em: 0.625em;
$iso-xs-em: 0.75em;
$iso-sm-em: 0.875em;
$iso-md-em: 1em;
$iso-lg-em: 1.125em;
$iso-llg-em: 1.25em;
$iso-xl-em: 1.563em;

/**
* border-radius
 */
$iso-border-radius : 8px;
/**

* border-color
 */
$iso-border-color-light: #D6D8D9;

/**
* spacing text
 */

$letter-space-sm : 4px;
$letter-space-md : 7px;

/**
* variable custom
 */
$line-height-size: 1.8em;
$color-primary:#007BFF;

/**
* size custom
 */
$size-20:1.25em;
$size-30:1.875em;
$size-25:1.563em;
$size-24:1.5em;
$size-40:2.5em;