@import "../base/variables";
$size-44: 2.8rem;
header {
  h1{
    line-height: 1.2;
  }

  .header-menu{
    width: 100%;
  }

  .offcanvas-start {
    width: 16.875rem;
  }

  .icon-logo-sm{
    width: $size-44;
    height: $size-44;
    background-size: $size-44 $size-44;
    background-image: url("../../images/logo.png");
  }

  .nav{
    height: 2rem;
    .dropdown-menu{
      width: 12.5em;
      border-radius: 0 $iso-border-radius $iso-border-radius;
      transform: translate3d(0px, 34px, 0px) !important;
      -webkit-transform: translate3d(0px, 34px, 0px) !important;
      -moz-transform: translate3d(0px, 34px, 0px) !important;
      -o-transform: translate3d(0px, 34px, 0px) !important;
    }

    &,.dropdown-menu{
      font-size: 0.760rem;
    }
  }

  .unactive_menu {
    color: $iso-dark;
  }

  .active_menu {
    background: $iso-blue-dark;
  }

  .iso-color-gradient-header {
    background: linear-gradient(135.36deg, #20A2FF -7.43%, #20A2FF -7.42%, #1773B5 100%);
  }

  /* style section banner */
  .banner{
    .search-box-lg,
    .search-box-sm{
      z-index: 2;
      .input-group{
        i{
          height: 2.5rem;
        }
        input{
          height: 2.5rem;
        }
      }
      .input-group-search{
        height: 2.5rem;
      }
    }

    .modal-search{
      .modal-content{
        background:$iso-gray-light;
      }

      .modal-body{
        min-height: 100vh;
      }
    }

    .iso-position-absolute{
      top: 9.313em;
    }
  }

  .btn-return{
    height: 2.5em;
  }

  .menu-user{
    transition: 0.8s ease-in;
    .dropdown-menu{
      z-index: 4;
      width: 14.375em;
      transform: translate(0px, 29px) !important;
      -webkit-transform: translate(0px, 29px) !important;
      -moz-transform: translate(0px, 29px) !important;
      -o-transform: translate(0px, 29px) !important;
    }
    .dropdown-toggle:after{
      all: unset;
    }
    .btn-user,
    .btn-user-collapse{
      z-index: 5;
    }
  }
}
