/* variables */
/**
*   color
*/
/**
*   size
*/
/**
* border-radius
 */
/**
* border-color
 */
/**
* spacing text
 */
main .iso-line-title {
  width: 0.375em;
  height: 2.3em;
  background: aqua;
  position: absolute;
  border-radius: 1.875rem; }

main .section-facilities-and-services .card {
  height: 10em; }

main .section-facilities-and-services .card-header {
  z-index: 2;
  width: 9.75rem; }
  main .section-facilities-and-services .card-header .card-img {
    width: 50%;
    height: 162%; }
    main .section-facilities-and-services .card-header .card-img img {
      width: 61%; }

main .section-facilities-and-services .card-body {
  top: 3.063rem;
  height: 7.875rem;
  width: 9.75rem; }

main .svg-default-height-section-articles,
main .svg-default-height-section-comment-users,
main .svg-default-height-section-doctors,
main .svg-default-height-section-medicines {
  height: 17.5em; }

main .section-btn button {
  height: 31px; }

main .section-doctors,
main .section-specialty,
main .section-services,
main .section-comments-users,
main .section-question-answer,
main .section-articles,
main .section-medicines,
main .section-sign-in-isovisit {
  font-size: 16px; }

main .swiper-button-next,
main .swiper-button-prev {
  width: 45px;
  height: 45px; }

main .swiper-button-next:after,
main .swiper-button-prev:after {
  content: '' !important;
  all: unset; }

main .section-doctors .section-header button {
  bottom: 1.063em; }

main .section-doctors .card-doctor {
  width: 14.8em; }
  main .section-doctors .card-doctor .card-img {
    width: 5.563em; }
    main .section-doctors .card-doctor .card-img span {
      bottom: 0.375em;
      right: -0.313em; }

main .section-doctors .swiper-doctors {
  height: 15em; }
  main .section-doctors .swiper-doctors .swiper-slide {
    width: 14.8em; }

main .section-doctors .swiper-button-next,
main .section-doctors .swiper-button-prev {
  top: 44%; }

main .section-specialty .card-specialty {
  width: 10.625em;
  height: 9.375em; }

main .section-services .swiper-button-next,
main .section-services .swiper-button-prev,
main .section-specialty .swiper-button-next,
main .section-specialty .swiper-button-prev,
main .section-comments-users .swiper-button-next,
main .section-comments-users .swiper-button-prev {
  top: 44%; }

main .swiper-services,
main .swiper-specialty {
  height: 170px; }
  main .swiper-services .swiper-slide,
  main .swiper-specialty .swiper-slide {
    width: 10.625em; }

main .section-comments-users > .section-body {
  top: -0.813em; }

main .section-comments-users .swiper-comments-users .figure-img {
  width: 2.5em;
  height: 2.5em; }

main .section-comments-users .swiper-comments-users .card {
  width: 15.125em;
  height: 12.5em; }

main .section-comments-users .swiper-comments-users .swiper-slide {
  width: 15em; }

main .section-comments-users .swiper-comments-users .swiper-wrapper {
  height: 14em; }

main .swiper-question-answer .figure-img {
  width: 2.5em;
  height: 2.5em; }

main .swiper-question-answer .card {
  width: 20.5em;
  height: 15em; }

main .swiper-question-answer .swiper-slide {
  height: 15.5em; }

main .swiper-question-answer .swiper-wrapper {
  height: 17em; }

main .swiper-question-answer h1 {
  text-overflow: ellipsis; }

main .swiper-question-answer p {
  height: 5.6em; }

main .section-articles .swiper-articles img {
  height: 13.1875em; }

main .section-articles .swiper-articles a {
  height: 3.8em; }

main .section-medicines .section-title {
  top: -0.45em; }

main .section-medicines .swiper-slide {
  width: 15.063em; }

main .section-medicines .card {
  height: 8.188em; }

main .section-medicines img {
  width: 5.313em; }

main .section-medicines .card-body div span {
  text-overflow: ellipsis; }

main .section-sign-in-isovisit > .section-body {
  background: #CCE5FF; }

main .section-sign-in-isovisit .card {
  height: 10.64em; }

main .swiper-pagination-article {
  bottom: 1rem !important; }

main .swiper-pagination-question-answer {
  bottom: -0.313rem !important; }

main .swiper-pagination-medicines {
  bottom: -0.5rem !important; }
