/* variables */
/**
*   color
*/
/**
*   size
*/
/**
* border-radius
 */
/* font-face */
@font-face {
  font-family: 'iransans-light';
  src: url("../../dist/fonts/iransans/iransans-light.eot");
  src: url("../../dist/fonts/iransans/iransans-light.eot?#iefix") format("embedded-opentype"), url("../../dist/fonts/iransans/iransans-light.woff") format("woff"), url("../../dist/fonts/iransans/iransans-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'iransans';
  src: url("../../dist/fonts/iransans/iransans.eot");
  src: url("../../dist/fonts/iransans/iransans.eot?#iefix") format("embedded-opentype"), url("../../dist/fonts/iransans/iransans.woff") format("woff"), url("../../dist/fonts/iransans/iransans.ttf") format("truetype");
  font-style: normal;
  font-weight: 500; }

/* custom classes */
body {
  direction: rtl;
  font-family: iransans , Arial;
  background: #fafafa;
  color: #001A34 !important; }

a {
  text-decoration: none;
  cursor: pointer; }

hr {
  height: 2px !important; }

/* iso background custom */
.iso-bg-blur-dark {
  background: #1773B5 !important;
  color: white; }

.iso-bg-blur-light {
  background: #CCE5FF; }

.iso-bg-gray-light {
  background: #F0F1F1; }

/* iso text color custom */
.iso-color-blur-dark {
  color: #1773B5 !important; }

.iso-text-dark {
  color: #001A34; }

/* iso font size */
.iso-font-xs {
  font-size: 0.625rem; }

.iso-font-sm {
  font-size: 0.875rem; }

.iso-font-md {
  font-size: 1rem; }

.iso-font-lg {
  font-size: 1.25rem; }

.iso-font-xl {
  font-size: 2.188rem; }

/* iso border-radius */
.iso-radius-sm {
  border-radius: 8px; }

.btn:focus {
  box-shadow: 0 0 !important; }

/* iso shadow */
.text-shadow {
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.5); }

.iso-shadow {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25); }

/* header */
header {
  /* svg header */
  /* style search */ }
  header button {
    width: auto;
    border-radius: 8px !important; }
  header .offcanvas-start {
    width: 270px !important; }
  header .support-border-dark-light {
    border-color: #6C757D !important; }
  header .iso-lg-logo {
    width: 58px;
    height: 58px; }
  header ::marker {
    font-size: 200%; }
  header .unactive_menu {
    padding: 4px;
    color: #001A34 !important; }
  header .active_menu {
    background: #1773B5 !important; }
  header .iso-hover-blue,
  header .iso-hover-white {
    transition: 0.1s ease-in; }
  header .iso-hover-blue:hover {
    color: #1773B5;
    border-bottom: 2px solid #1773B5; }
  header .iso-hover-white:hover {
    border-bottom: 2px solid #f8f9fa; }
  header .iso-color-gradient-header {
    background: linear-gradient(135.36deg, #20A2FF -7.43%, #20A2FF -7.42%, #1773B5 100%); }
  header .animated {
    transform: rotateY(180deg);
    position: relative;
    left: -61px;
    top: -13px; }
  header svg#freepik_stories-online-doctor:not(.animated) .animable {
    opacity: 0; }
  header svg#freepik_stories-online-doctor.animated #freepik--cross-icon--inject-31 {
    animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomOut;
    animation-delay: 0s; }
  header svg#freepik_stories-online-doctor.animated #freepik--pulse-icon--inject-31 {
    animation: 1.5s Infinite linear heartbeat;
    animation-delay: 0s; }
  header svg#freepik_stories-online-doctor.animated #freepik--Character--inject-31 {
    animation: 1s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) slideLeft;
    animation-delay: 0s; }
  header svg#freepik_stories-online-doctor.animated #freepik--Chat--inject-31 {
    animation: 2.9s 1 forwards cubic-bezier(0.36, -0.01, 0.5, 1.38) zoomIn;
    animation-delay: 0s; }
  header .iso-search {
    position: inherit; }
    header .iso-search i {
      border-radius: 8px 0 0 8px !important;
      height: 40px; }
    header .iso-search input {
      border-radius: 0 8px 8px 0 !important;
      height: 40px; }

@keyframes zoomOut {
  0% {
    opacity: 0;
    transform: scale(1.5); }
  100% {
    opacity: 1;
    transform: scale(1); } }

@keyframes heartbeat {
  0% {
    transform: scale(1); }
  10% {
    transform: scale(1.1); }
  30% {
    transform: scale(1); }
  40% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  60% {
    transform: scale(1); }
  100% {
    transform: scale(1); } }

@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(-30px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5); }
  100% {
    opacity: 1;
    transform: scale(1); } }

.animator-hidden {
  display: none; }

.iso-color-gradient-header div {
  left: 2px;
  top: 313px; }
