/* variables */
/**
*   color
*/
/**
*   size
*/
/* font-face */
@font-face {
  font-family: 'iransans-light';
  src: url("../../dist/fonts/iransans/iransans-light.eot");
  src: url("../../dist/fonts/iransans/iransans-light.eot?#iefix") format("embedded-opentype"), url("../../dist/fonts/iransans/iransans-light.woff") format("woff"), url("../../dist/fonts/iransans/iransans-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'iransans';
  src: url("../../dist/fonts/iransans/iransans.eot");
  src: url("../../dist/fonts/iransans/iransans.eot?#iefix") format("embedded-opentype"), url("../../dist/fonts/iransans/iransans.woff") format("woff"), url("../../dist/fonts/iransans/iransans.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

/* custom classes */
body {
  direction: rtl;
  font-family: iransans , Arial;
  background: #fafafa;
  color: #001A34; }

.btn-blur-dark {
  background: #1773B5 !important;
  color: white; }

.text-blur {
  color: #1773B5 !important; }

.iso-font-xs {
  font-size: 0.625rem; }

.iso-font-sm {
  font-size: 0.875rem; }

.iso-font-md {
  font-size: 1rem; }

.iso-font-lg {
  font-size: 1.125rem; }

.iso-font-xl {
  font-size: 2.3rem; }

/* header */
header button {
  width: auto;
  border-radius: 8px !important; }

header .offcanvas-start {
  width: 270px !important; }
