/**
*   color
*/
/**
*   size
*/
/* size rem */
/* size em */
/**
* border-radius
 */
/**
* border-color
 */
/**
* spacing text
 */
main [class^="icon"] {
  filter: hue-rotate(294deg); }

main .icon-profile {
  width: 30px;
  height: 30px;
  background: url("../images/icons/profile.png"); }

main .icon-consultants {
  width: 30px;
  height: 30px;
  background: url("../images/icons/general-consultation.png"); }

main .icon-transactions {
  width: 30px;
  height: 30px;
  background: url("../images/icons/transactions.png"); }

main .icon-secretary-message {
  width: 30px;
  height: 30px;
  background: url("../images/icons/secretary-message.png"); }

main .icon-comments {
  width: 30px;
  height: 30px;
  background: url("../images/icons/comments.png"); }

main .icon-question-answer {
  width: 30px;
  height: 30px;
  background: url("../images/icons/question-answer.png"); }

main .icon-tickets {
  width: 30px;
  height: 30px;
  background: url("../images/icons/tickets.png"); }

main .menu-profile {
  padding: 13px 120px 13px 122px; }
  main .menu-profile .link-hover:after {
    bottom: -13px; }
  main .menu-profile .link-hover:hover div {
    filter: hue-rotate(356deg); }
  main .menu-profile .active {
    position: relative; }
    main .menu-profile .active:after {
      content: "";
      position: absolute;
      width: 100%;
      bottom: -6px;
      height: 4px;
      border-radius: 8px;
      left: 0;
      background: #1773B5; }
    main .menu-profile .active div {
      filter: hue-rotate(356deg); }
    main .menu-profile .active:after {
      bottom: -13px; }

main .specifications {
  border-left: 2px dashed #001A34 !important;
  width: 138px; }

main .nav-pills .nav-link.active {
  color: #1773B5; }

main #pills-consultants .badge {
  border-radius: 50px; }

main .swiper-menu .swiper-slide:nth-child(4) {
  width: 129px !important; }
