/*variable*/
/**
*   color
*/
/**
*   size
*/
/* size rem */
/* size em */
/**
* border-radius
 */
/**

* border-color
 */
/**
* spacing text
 */
@media only screen and (max-width: 992px) {
  .position-top-lg-75 {
    top: 75%; }
  .section-comments-users .section-svg,
  .section-doctors .section-svg {
    height: 18em; }
  .section-articles .section-svg {
    height: 13.30em; }
  .section-articles .swiper-wrapper {
    height: 27em; }
  .section-medicines .swiper-wrapper {
    height: 12em; }
  .section-medicines .section-svg {
    height: 13.3em; }
  .svg-sing-in-doctor {
    width: 12.5em;
    height: 12.5em;
    left: -4.5em;
    top: 0.2em; }
  .swiper .swiper-pagination-article {
    bottom: 0.5rem; }
  .swiper .swiper-pagination-question-answer {
    bottom: -0.313rem; }
  .swiper .swiper-pagination-medicines {
    bottom: -0.5rem; }
  /* section register_doctor start */
  .section-comment-doctors .figure-caption {
    top: 0.625em; }
  /* section register_doctor end */
  main .section-facilities-and-services .card-body {
    font-size: 16px; } }

@media only screen and (min-width: 768px) {
  footer .footer-about {
    border-top: 0 solid #fff; } }

@media only screen and (min-width: 576px) {
  .operation-doctor .dropdown-menu,
  .operation-patient .dropdown-menu {
    width: 4.875em;
    height: 2.313em; } }

@media only screen and (max-width: 576px) {
  .section-list-doctors .card-body {
    height: auto; }
  /* section register_doctor start */
  .section-comment-doctors .swiper-wrapper {
    height: 17em; }
  .section-comment-doctors .swiper-pagination-comment-doctors {
    bottom: .625em; }
  .section-comment-doctors .swiper-slide-next {
    transform: unset;
    margin-right: unset;
    margin-left: 1em !important; }
  /* section register_doctor end */
  /* section ticket profile_user start */
  #pills-tickets .list-group .list-group-item .col-4 {
    border-left: 1px solid #dee2e6;
    border-bottom: 0 !important; }
  /* section ticket profile_user end */
  /* section tab menu profile user start */
  main .menu-profile .active:after {
    bottom: -6px; }
  .operation-patient .dropdown-menu {
    inset: -72px -41px auto auto !important; }
  .operation-doctor .dropdown-menu {
    inset: -72px 44px auto auto !important; } }

@media only screen and (max-width: 768px) {
  .profile-doctor-master ~ .communication-iso, .profile-doctor-master ~ .scroll-top {
    bottom: 5em; }
  .section-list-doctors figure {
    height: 4.188em; }
  .box-question-of-doctors-about-medicines .card {
    width: 22.5em; }
  .box-question-of-doctors-about-medicines .img-box-profile {
    right: .563em; }
  .medicines-master ~ .communication-iso, .medicines-master ~ .scroll-top {
    bottom: 7em; }
  /* section register_doctor start */
  .section-service-doctors {
    background: none;
    box-shadow: unset; }
  /* section register_doctor end */
  .banner-pattern {
    background-size: 69.875em 27.5em; } }

@media only screen and (min-width: 992px) {
  html {
    font-size: 1.350rem; }
  .iso-position-relative-lg-none {
    position: unset; }
  .iso-position-absolute-lg-none {
    position: unset; }
  .animated-edit-position {
    left: 7rem;
    top: -1rem; }
  main .section-facilities-and-services .card-header {
    top: 0; }
  .swiper-doctors,
  .swiper-comments-users {
    margin-top: 5em; }
  .section-articles .section-btn button {
    top: -3.438em; }
  .svg-sing-in-doctor {
    left: -14.375em;
    top: -6.125em; }
  main .section-facilities-and-services .card-body {
    height: 7rem;
    width: 9rem; } }

@media only screen and (min-width: 1400px) {
  .section-data-profile-doctor .btn-group {
    top: -3.438em;
    border-radius: 8px; }
  .section-data-profile-doctor .row {
    height: 7.375em; }
  footer .footer-certificates,
  footer .footer-contact {
    border-top: 0 solid; } }
