body{
  direction: rtl;
  font-family: IRANSans !important;
  font-weight: 500;
  background: $iso-gray-light;
  color: $iso-dark !important;
}

a{
  text-decoration: none;
  cursor: pointer;
}

.form-control:focus{
  box-shadow: 0 0;
}

.swiper-pagination-bullet-active{
  width: 20px !important;
  border-radius: 8px !important;
  background: $iso-blue-dark;
}

.swiper-pagination-bullet{
  margin: 3px !important;
}

.communication-iso{
  left: 15px;
  top: 41em;
  z-index: 999;
  padding: 0.8em;
}

.scroll-top{
  right: 14px;
  z-index: 999;
  top: 43em;
  width: 30px;
  height: 30px;
  display: none;
}

.communication-iso{

  > img{
    width: 38px;
    height: 38px;
  }
  .dropdown-menu-communication{
    position: absolute;
    top: -225px;
    left: 0;
    width: 160px;

    li{
      opacity: 0;
    }
    li:nth-child(1){
      transition: 1s ease-in-out;
    }
    li:nth-child(2){
      transition: 0.7s ease-in-out;
    }
    li:nth-child(3){
      transition: 0.5s ease-in-out;
    }
    li:nth-child(4){
      transition: 0.3s ease-in-out;
    }
  }
}

.rotate-180deg,
.rotate-0deg{
  transition: 0.4s ease;
}

.rotate-180deg{
  transform: rotate(180deg);
}

.rotate-0deg{
  transform: rotate(0deg);
}

/* iso background custom */
.iso-bg-blur-dark{
  background: $iso-blue-dark !important;
  color: white;
}

.iso-bg-blur-light{
  background: $iso-blue-light;
}

.iso-bg-gray-light{
  background: $iso-gray-light ;
}

.iso-bg-green{
  background: $iso-green;
}

.iso-bg-green-light{
  background: $iso-green-light;
}

.iso-bg-green-dark{
  background: $iso-green-dark;
}

.iso-bg-light{
  background: $iso-light;
}

/* iso text color custom */
.iso-text-blur-dark{
  color: $iso-blue-dark !important;
}

.iso-text-dark{
  color: $iso-dark;
}

.iso-text-green-dark{
  color: $iso-green-dark;
}

.iso-color-secondary{
  color: $iso-secondary;
}

/* iso font size */
.iso-font-xs {
  font-size: $iso-xs;
}

.iso-font-xxs {
  font-size: $iso-xxs;
}

.iso-font-sm {
  font-size: $iso-sm;
}

.iso-font-md {
  font-size: $iso-md;
}

.iso-font-lg {
  font-size: $iso-lg;
}

.iso-font-llg {
  font-size: $iso-llg;
}

.iso-font-xl {
  font-size: $iso-xl;
}

.iso-font-xxl {
  font-size: $iso-xxl;
}

/* iso border-radius */
.border-radius{
  border-radius: $iso-border-radius !important;
}

.border-radius-bottom{
  border-radius: 0 0 $iso-border-radius $iso-border-radius;
}

/* iso border-color */
.border-color-light{
  border-color: $iso-border-color-light !important;
}

.btn:focus{
  box-shadow: 0 0 !important;
}

/* iso shadow */
.text-shadow{
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.box-shadow{
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

/* iso font weight */
.fw-medium{
  font-weight: 500;
}

.fw-bold-lg{
  font-weight: 600;
}
/* iso margin */
.ms-6{
  margin-right: 4rem!important;
}

/* iso padding */
.px-12{
  padding: 12px;
}
