body{
  direction: rtl;
  font-family: IRANSans !important;
  font-weight: 500;
  background: $iso-gray-light;
  color: $iso-dark !important;
}

a{
  text-decoration: none;
  cursor: pointer;
}

hr{
  opacity: 1;
}

.form-control:focus{
  box-shadow: 0 0;
}

.swiper-pagination-bullet-active{
  width: $iso-llg !important;
  border-radius: 0.5rem !important;
  background: $iso-blue-dark;
}

.swiper-pagination-bullet{
  margin: 0.188rem !important;
}

.communication-iso{
  left: 0.938rem;
  top: 40.847rem;
  z-index: 999;
  padding: 0.797rem;
}

.scroll-top{
  right: $iso-sm;
  z-index: 999;
  top: 42.839rem;
  width: 1.875rem;
  height: 1.875rem;
  display: none;
}

.communication-iso{

  > img{
    width: 2.375rem;
    height: 2.375rem;
  }
  .dropdown-menu-communication{
    position: absolute;
    top: -14.063rem;
    left: 0;
    width: 10rem;

    li{
      opacity: 0;
    }
    li:nth-child(1){
      transition: 1s ease-in-out;
    }
    li:nth-child(2){
      transition: 0.7s ease-in-out;
    }
    li:nth-child(3){
      transition: 0.5s ease-in-out;
    }
    li:nth-child(4){
      transition: 0.3s ease-in-out;
    }
  }
}

.rotate-180deg,
.rotate-0deg{
  transition: 0.4s ease;
}

.rotate-180deg{
  transform: rotate(180deg);
}

.rotate-0deg{
  transform: rotate(0deg);
}

.img-sm{
  width: 30px;
  height: 30px;
}

.img-md{
  width: 50px;
  height: 50px;
}

.img-lg{
  width: 72px;
  height: 72px;
}

/* iso background custom */
.iso-bg-blur-dark{
  background: $iso-blue-dark !important;
  color: white;
}

.iso-bg-blur-light{
  background: $iso-blue-light;
}

.iso-bg-gray-light{
  background: $iso-gray-light ;
}

.iso-bg-green{
  background: $iso-green;
}

.iso-bg-green-light{
  background: $iso-green-light;
}

.iso-bg-green-dark{
  background: $iso-green-dark;
}

.iso-bg-light{
  background: $iso-light;
}

/* iso text color custom */
.iso-color-blur-dark{
  color: $iso-blue-dark !important;
}

.iso-color-dark{
  color: $iso-dark;
}

.iso-color-green-dark{
  color: $iso-green-dark;
}

.iso-color-secondary{
  color: $iso-secondary;
}

/* iso font size */
.iso-font-xs {
  font-size: $iso-xs;
}

.iso-font-xxs {
  font-size: $iso-xxs;
}

.iso-font-sm {
  font-size: $iso-sm;
}

.iso-font-md {
  font-size: $iso-md;
}

.iso-font-lg {
  font-size: $iso-lg;
}

.iso-font-llg {
  font-size: $iso-llg;
}

.iso-font-xl {
  font-size: $iso-xl;
}

.iso-font-xxl {
  font-size: $iso-xxl;
}

/* iso border-radius */
.border-radius{
  border-radius: $iso-border-radius !important;
}

.border-radius-bottom{
  border-radius: 0 0 $iso-border-radius $iso-border-radius !important;
}

.border-radius-top{
  border-radius: $iso-border-radius $iso-border-radius 0 0 !important;
}
/* iso border-color */
.border-color-light{
  border-color: $iso-border-color-light !important;
}

.btn:focus{
  box-shadow: 0 0 !important;
}

/* iso shadow */
.text-shadow{
  text-shadow: 0 0.188rem 0.313rem rgba(0, 0, 0, 0.5);
}

.box-shadow{
  box-shadow: 0 0.313rem 0.938rem rgba(0, 0, 0, 0.25);
}

/* iso font weight */
.fw-medium{
  font-weight: 500;
}

.fw-bold-lg{
  font-weight: 600;
}
/* iso margin */
.ms-6{
  margin-right: 0.25rem!important;
}

/* iso padding */
.px-12{
  padding:0 0.75rem 0 0.75rem;
}


/* iso space text */
.letter-space-sm{
  letter-spacing: $letter-space-sm;
}

.letter-space-md{
  letter-spacing: $letter-space-md;
}