body{
  direction: rtl;
  font-family: IRANSans !important;
  font-weight: 500;
  background: #fafafa;
  color: $iso-dark !important;
}

a{
  text-decoration: none;
  cursor: pointer;
}

hr{
  height: 2px !important;
}

/* iso background custom */
.iso-bg-blur-dark{
  background: $iso-blue-dark !important;
  color: white;
}

.iso-bg-blur-light{
  background: $iso-blue-light;
}

.iso-bg-gray-light{
  background: $iso-gray-light ;
}

.iso-bg-green{
  background: $iso-bg-green;
}

.iso-bg-green-light{
  background: $iso-bg-green-light;
}

.iso-bg-green-dark{
  background: $iso-bg-green-dark;
}

.iso-bg-muted{
  background: $iso-bg-muted;
}
/* iso text color custom */
.iso-text-blur-dark{
  color: $iso-blue-dark !important;
}

.iso-text-dark{
  color: $iso-dark;
}

.iso-text-green-dark{
  color: $iso-bg-green-dark;
}

/* iso font size */
.iso-font-xs {
  font-size: $iso-xs;
}

.iso-font-xxs {
  font-size: $iso-xxs;
}

.iso-font-sm {
  font-size: $iso-sm;
}

.iso-font-md {
  font-size: $iso-md;
}

.iso-font-lg {
  font-size: $iso-lg;
}

.iso-font-llg {
  font-size: $iso-llg;
}

.iso-font-xl {
  font-size: $iso-xl;
}

.iso-font-xxl {
  font-size: $iso-xxl;
}

/* iso border-radius */
.border-radius{
  border-radius: $iso-border-radius;
}

.border-radius-bottom{
  border-radius: 0 0 $iso-border-radius $iso-border-radius;
}

/* iso border-color */
.border-color-light{
  border-color: $iso-border-color-light !important;
}

.btn:focus{
  box-shadow: 0 0 !important;
}

/* iso shadow */
.text-shadow{
  text-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
}

.box-shadow{
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}

/* iso font weight */
.fw-medium{
  font-weight: 500;
}

/* iso margin */
.ms-6{
  margin-right: 4rem!important;
}