footer{
  background: $iso-blue-dark;

  hr{
    opacity: 1;
  }

  .card-body{
    height: 159px;
  }

  .swiper-certificates{

    .swiper-slide {
      width: 130px !important;
      height: 130px;
    }

    .swiper-pagination-certificates{
      bottom: -6px;
    }

  }

  .swiper-pagination-bullet-active{
    background: $iso-bg-green-dark;
  }

  .card-img{
    width: 39px;
    height: 39px;
  }

}