header {

    button {
        width: auto;
        border-radius: $iso-border-radius !important;
    }

    .offcanvas-start {
        width: 16.875rem !important;
    }

    .support-border-dark-light {
        border-color: #6C757D !important;
    }

    .img-md {
        width: 3.625rem;
        height: 3.625rem;
    }

    .img-sm {
        width: 2.5rem;
        height: 2.5rem;
    }

    ::marker {
        font-size: 200%;
    }

    .unactive_menu {
        padding: 0.25rem;
        color: $iso-dark !important;
    }

    .active_menu {
        background: $iso-blue-dark !important;
    }

    .iso-hover-blue,
    .iso-hover-white {
        transition: 0.1s ease-in;
    }

    .iso-hover-blue:hover {
        color: $iso-blue-dark;
        border-bottom: 0.125rem solid $iso-blue-dark;
    }

    .iso-hover-white:hover {
        border-bottom: 0.125rem solid #f8f9fa;
    }

    .iso-color-gradient-header {
        background: linear-gradient(135.36deg, #20A2FF -7.43%, #20A2FF -7.42%, #1773B5 100%);
    }

    /* style search */
    .search-box{
        height:25rem;

        .input-group{
            position: inherit;

            i{
                border-radius: $iso-border-radius 0 0 $iso-border-radius !important;
                height: 2.5rem;
            }
            input{
                border-radius: 0 $iso-border-radius $iso-border-radius 0 !important;
                height: 2.5rem;
            }
        }

    }

    .modal{
        .modal-header{
            button{
                border: 0.125rem solid;
            };

        }
        .modal-footer{
            border-top: 0.156rem dashed $iso-blue-dark;
        }
        .modal-body{
            input,button{
               height: 2.5rem;
            }
        }

        .box-verification-code{
            border-color: #e2e3e4 !important;
            &:focus-within{
                border: 0.125rem solid #1773B5 !important;
            }

            input:focus{
                border-color: #1773B5 !important;
            }
        }

        .nav-link{
            a{
                border-color: $iso-blue-dark !important;
            }

        }

        .card-login-password{
            input{
                border-radius: 0 $iso-border-radius $iso-border-radius 0 !important;
            }
            .input-group-text{
                border-radius: $iso-border-radius 0 0 $iso-border-radius !important;
            }

            .input-login-password:focus{
                border-color:#ced4da !important;
            }
            i{
                width: $iso-llg;
                height: $iso-llg;
            }
        }

    }

    .menu-user{
        transition: 0.8s ease-in;
        .dropdown-menu{
            transform: translate3d(0px, 32px, 0px) !important;
            width: 230px;
            height: 364px;
        }
        .dropdown-toggle:after{
            all: unset;
        }
        .btn-user,
        .btn-user-collapse{
            i{
                transition: 0.1s ease-in-out !important;
            }
        }
    }
}

.iso-color-gradient-header {
    div{
        left: 0.125rem;
        top: 19.563rem;
    }
}