header {

    button {
        width: auto;
        border-radius: 8px !important;
    }

    .offcanvas-start {
        width: 270px !important;
    }

    .support-border-dark-light {
        border-color: #6C757D !important;
    }

    .iso-lg-logo {
        width: 58px;
        height: 58px;
    }

    ::marker {
        font-size: 200%;
    }

    .unactive_menu {
        padding: 4px;
        color: $iso-dark !important;
    }

    .active_menu {
        background: $iso-blue-dark !important;
    }

    .iso-hover-blue,
    .iso-hover-white {
        transition: 0.1s ease-in;
    }

    .iso-hover-blue:hover {
        color: $iso-blue-dark;
        border-bottom: 2px solid $iso-blue-dark;
    }

    .iso-hover-white:hover {
        border-bottom: 2px solid #f8f9fa;
    }

    .iso-color-gradient-header {
        background: linear-gradient(135.36deg, #20A2FF -7.43%, #20A2FF -7.42%, #1773B5 100%);
    }

    /* style search */
    .iso-search{
        position: inherit;
        i{
            border-radius: $iso-radius-sm 0 0 $iso-radius-sm !important;
            height: 40px;
        }
        input{
            border-radius: 0 $iso-radius-sm $iso-radius-sm 0 !important;
            height: 40px;
        }
    }
}
.iso-color-gradient-header {
    div{
        left: 2px;
        top: 313px;
    }
}

