main{

  .iso-line-title{
    width: 6px;
    height: 34px;
    background: aqua;
    position: absolute;
    border-radius: 30px;
  }

  section{
    height: 180px;
  }

  .section-doctors{

    > .card-body{
      top: -43px;
      height: 239px;
    }

    .card-header {
      button{
        bottom: 59px;
      }
    }

  }

  .card-doctors{
    width: 220px;

    .card-img{
      width: 89px;

      span{
        bottom: 6px;
        right: -13px;
      }

    }
  }

  .slider-cards{
    display: flex;
    overflow: auto;
    scroll-snap-type: x mandatory;
  }

  .slider-cards > section{
    max-width: 100%;
    scroll-snap-align: revert;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  .card-specialty{
    width: 170px;
    height: 150px;
  }

  @mixin size-fiqure-img{
    width: 40px;
    height: 40px;
  }

  .swiper-question-answer {
    width: 100%;

    .figure-img{
      @include size-fiqure-img;
    }

    .card{
      width: 328px;
      height: 218px;
    }

    .swiper-slide{
      height: 248px;
    }

    h1{
      text-overflow: ellipsis;
    }

    p{
      height: 63px;
    }
  }
  .swiper-comments-users{
    .figure-img{
      @include size-fiqure-img;
    }

    .card{
      width: 242px;
      height: 200px;
    }

    .swiper-slide {
      width: 242px;
    }
  }

  .section-comments-users{

    > .card-body{
      top: -63px;
      height: 239px;
    }

    svg{
      top: -19px;
    }
  }
  .section-question-answer{

    .card-header{
      top: -71px;
    }

    .card-body{
      top: -80px;
    }
  }

  .section-articles{

    > .card-body{
      top: -146px;
      height: 438px;
    }

    .card-header{
      top: -59px;
    }

    svg{
      top: -104px;
    }

    .swiper-articles{

      img{
        width: 334px;
        height: 211px;
      }

      a{
        height: 49px;
      }
    }
  }

  .section-medicines{
    > .card-body{
      top: -251px;
      height: 159px;
    }

    .card-header{
      top: -168px;
    }

    svg{
      top:-208px;
    }

    .swiper-slide {
      width: 241px;
    }

    .card{
      height: 131px;
    }

  }
  .swiper-pagination-article{
    bottom: 44px !important;
  }

  .swiper-pagination-question-answer, {
    bottom: -5px !important;
  }

  .swiper-pagination-medicines{
    bottom: -10px !important;
  }

  .swiper-pagination-bullet-active{
    width: 20px !important;
    border-radius: 8px !important;
  }
  .swiper-pagination-bullet{
    margin: 3px !important;
  }



}
