/**
*   color
*/

$iso-dark : #001A34;
$iso-blue-dark : #1773B5;
$iso-blue-light : #CCE5FF;
$iso-gray-light : #F0F1F1;
$iso-light: #F5F5F5;
$iso-green : #28a745;
$iso-green-light : #D4EDDA;
$iso-green-dark : #009d38;
$iso-secondary : #999999;


/**
*   size
*/
$iso-xs: 0.75rem;
$iso-xxs: 0.625rem;
$iso-sm: 0.875rem;
$iso-md: 1rem;
$iso-lg: 1.125rem;
$iso-llg: 1.25rem;
$iso-xl: 1.563rem;
$iso-xxl: 2.188rem;

/**
* border-radius
 */

$iso-border-radius : 8px;

/**
* border-color
 */
$iso-border-color-light: #D6D8D9;

/**
* spacing text
 */

$letter-space-sm : 4px;
$letter-space-md : 7px;