@import "variables";

@keyframes animate-move-text {
  0%   { transform: translateX(-50%); }
  100% { transform: translateX(100%); }
}

.start-motion-move-text{
  animation: animate-move-text 26s linear infinite;
}

.links-question-answer{
  height:1.375em;
}

#collapse_froum{
  .form-select-birth{
    width:10em;
  }

  .input-height,
  .input-weight{
    width: 6.2em;
  }
}


