.filter-img-light,
.filter-img-dark{
  width: 1.5em;
  height: 1.5em;
  background-size: cover;
  background-repeat: no-repeat;
}

.filter-img-dark{
  background-image: url("../images/icons/filter-dark.png");
}

.filter-img-light{
  background-image: url("../images/icons/filter-light.png");
}

.sort-img{
  width: 1.5em;
  height: 1.5em;
  background-size: cover;
  background-image: url("../images/icons/sort.png");
  background-repeat: no-repeat;
}

.form-check-input{
  width: 1.5em;
  height: 1.5em;
}

.star_rating_doctor{
  width: 69px;
  height: 24px;
}
.section-list-doctors{
  .form-check-input{
    border: 2px solid rgba(0,0,0,.25)
  }
}
