.filter-img-light,
.filter-img-dark,
.sort-img-dark,
.sort-img-light{
  width: 1.5em;
  height: 1.5em;
  background-size: cover;
  background-repeat: no-repeat;
}

.filter-img-dark{
  background-image: url("../images/icons/filter-dark.png");
}

.filter-img-light{
  background-image: url("../images/icons/filter-light.png");
}

.sort-img-dark{
  background-image: url("../images/icons/sort-dark.png");
}

.sort-img-light{
  background-image: url("../images/icons/sort-light.png");
}

.star_rating_doctor{
  width: 4.313em;
  height: 1.5em;
}

.form-check-input{
  width: 1.5em;
  height: 1.5em;
  border: 2px solid rgba(0,0,0,.25);
}

.show-doctors-more{
  .btn{
    top: -1.3em;
  }
}

#offcanvasSort{
  border-radius: 20px 20px 0 0;
}

.filter{
  width: 29.8%;
}

.section-list-doctors{
  .card-body{
   height: 7.188em;
  }
}