.box-img-medicines{
  height: 22em;
}

.section-medicines{
  .swiper-wrapper{
    height: 12.5em;
  }
}

.box-question-of-doctors-about-medicines{
  z-index: 999;

  .card{
    width: 23em;
    right: -27.813em;
    cursor: pointer;
  }


  .img-box-profile{
    right: 13.313em;
    z-index: 2;
  }
}


.section-list-medicines{
  .card{
    width: 18.75em;
    height: 10em;
  }
}