/* variables */
@import "variables";

.card-info-doctor{
  .btn-group{
    border-color: $iso-green-dark !important;
    button:not(:last-child){
      border-left: 1px solid $iso-green-dark;
    }
  }
}

.video-introduction-doctor{
  width: 310px;
  height: 200px;
}

.captcha_image{
  height: 2.2em;
  width: 9em;
}

/* swiper style */
.swiper-gallery-doctor {
  width: 300px;
  height: 300px;
  padding: 50px;

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
  }

  .swiper-slide {
    img{
      width: 100%;
      height: 200px;
    }
  }

  .swiper-button-next{
    left: -5px;
  }

  .swiper-button-prev{
    right: -5px;
  }

  .swiper-button-prev,
  .swiper-button-next{
    &:after{
      content: '' !important;
    }
  }
}

iframe{
  width: 100%;
}

.love-active{
  animation: animate-love-active 0.2s linear;
}
.love-disabled{
  animation: animate-love-disabled 0.2s linear;
}

@keyframes animate-love-active {
  0%{
    transform: scale(1,1);
  }
  100%{
    transform: scale(1.2,1.2);
  }
}

@keyframes animate-love-disabled {
  100%{
    transform: scale(1.2,1.2);
  }
  0%{
    transform: scale(1,1);
  }
}


.btn-question{
  .arrow{
    width: 34px;
    height: 43px;
  }
}

.position-section-get-advice{
  top: 167px;
}

.section-data-profile-doctor{
  .btn-group{
    @media only screen and (min-width: 1400px) {
      position: relative;
      top: -52px;
      border-radius: $iso-border-radius !important;
    }
  }
  .row{
    @media only screen and (min-width: 1400px) {
      height: 118px;
    }
  }
}


#contact__map{
  height: 250px;
}

@media only screen and (max-width: 767px) {

  .communication-iso{
    bottom: 5rem !important;
  }

  .scroll-top{
    bottom: 5rem !important;
  }
}

.get-advice-fixed{
  bottom: 10px !important;
  z-index: 9999;
}
