@import "variables";

$width : 30px;
$height : 30px;

main{

  [class^="icon"]{
    filter: hue-rotate(294deg);
  }

  .icon-profile{
    width: $width;
    height: $height;
    background: url("../images/icons/profile.png");
  }

  .icon-consultants{
    width: $width;
    height: $height;
    background: url("../images/icons/general-consultation.png");
  }

  .icon-transactions{
    width: $width;
    height: $height;
    background: url("../images/icons/transactions.png");
  }

  .icon-secretary-message{
    width: $width;
    height: $height;
    background: url("../images/icons/secretary-message.png");
  }

  .icon-comments{
    width: $width;
    height: $height;
    background: url("../images/icons/comments.png");
  }

  .icon-question-answer{
    width: $width;
    height: $height;
    background: url("../images/icons/question-answer.png");
  }

  .icon-tickets{
    width: $width;
    height: $height;
    background: url("../images/icons/tickets.png");
  }

  .menu-profile{
    padding: 13px 120px 13px 122px;

    .link-hover{
      &:after{
        bottom: -13px;
      }
      &:hover div{
        filter: hue-rotate(356deg);
      }
    }

    .active{
      position: relative;
      &:after{
        content: "";
        position: absolute;
        width: 100%;
        bottom: -6px;
        height: 4px;
        border-radius: 8px;
        left: 0;
        background: $iso-blue-dark;
      }

      div{
        filter: hue-rotate(356deg);
      }

      &:after{
        bottom: -13px;
      }
    }
  }


  .specifications{
    border-left: 2px dashed $iso-dark !important;
    width: 138px;
  }

  .nav-pills .nav-link.active{
    color: $iso-blue-dark;
  }

  #pills-consultants{
    .badge{
      border-radius: 50px;
    }
  }

  .swiper-menu{
    .swiper-slide:nth-child(4){
      width: 129px !important;
    }
  }
}
