/* variables */
@import "variables";

@import "main";

.card-info-doctor{
  .btn-group{
    border: 1px solid $iso-green-dark;
    button:not(:last-child){
      border-left: 1px solid $iso-green-dark;
    }
  }
}

.video-introduction-doctor{
  width: 19.375em;
  height: 12.5em;
}

.section-comments-users,
.section-data-profile-doctor{
  z-index: 2;
}

/* swiper style */
.swiper-gallery-doctor {
  width: 18.75em;
  height: 18.75em;
  padding: 3.125em;

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 18.75em;
  }

  .swiper-slide {
    img{
      width: 100%;
      height: 100%;
    }
  }

  .swiper-button-next{
    left: -.313em;
  }

  .swiper-button-prev{
    right: -.313em;
  }

  .swiper-button-prev,
  .swiper-button-next{
    &:after{
      content: '';
    }
  }
}

iframe{
  width: 100%;
}

#contact__map{
  height: 15.625em;
}

.get-advice-fixed{
  bottom: .625em;
  z-index: 9999;
}

.icon-share{
  background: url("../images/icons/share.png") no-repeat;
}

.icon-user{
  width: 1.6em;
  height: 1.6em;
  background: url("../images/icons/user.png") no-repeat;
}

.section-about-doctor{
  .card-body{
    height: 12.5em;
  }
}

.section-address-and-phone-doctor {
  li {
    padding-inline-start: .7em;
    &::marker {
      content: url("../images/icons/ellipse-block.png");
    }
  }

}
