/*variable*/
@import "variables";

@media only screen and (max-width: 992px) {

  .position-top-lg-75{
    top:75%;
  }

  .section-comments-users,
  .section-doctors{
    .section-svg{
      height: 18em;
    }
  }

  .section-articles{

    .section-svg{
      height: 13.30em;
    }

    .swiper-wrapper{
      height: 26em;
    }
  }

  .section-medicines{

    .swiper-wrapper{
      height: 12em;
    }

    .section-svg{
      height: 13.3em;
    }
  }

  .svg-sing-in-doctor{
    width: 12.5em;
    height: 12.5em;
    left: -4.5em;
    top: 0.2em;
  }

  .swiper{
    .swiper-pagination-article {
      bottom: 1rem;
    }

    .swiper-pagination-question-answer, {
      bottom: -0.313rem;
    }

    .swiper-pagination-medicines {
      bottom: -0.5rem;
    }
  }

}

@media only screen and (min-width: 768px){
  footer{
    .footer-about{
      border-top: 0 solid #fff;
    }
  }
}


@media only screen and (max-width: 576px) {
  .section-list-doctors{
    .card-body{
      height: auto;
    }
  }
}

@media only screen and (max-width: 768px){

  .profile-doctor-master{
    ~  .communication-iso,~ .scroll-top{
      bottom: 5em;
    }
  }

  .section-list-doctors{
    figure{
      height: 67px;
    }
  }
}

@media only screen and (min-width: 992px) {
  html{
    font-size: 1.350rem;
  }

  .iso-position-relative-lg-none{
    position: unset;
  }

  .iso-position-absolute-lg-none{
    position: unset;
  }

  .animated-edit-position {
    left: 7rem;
    top: -1rem;
  }

  main{
    .section-facilities-and-services{
      .card-header{
        top: 0;
      }
    }
  }

  .swiper-doctors,
  .swiper-comments-users{
    margin-top: 5em;
  }

  .section-articles{
    .section-btn{
      button{
        top: -55px;
      }
    }
  }

  .svg-sing-in-doctor{
    left: -230px;
    top: -98px;
  }
}

@media only screen and (min-width: 1400px){
  .section-data-profile-doctor {
    .btn-group {
      top: -52px;
      border-radius: $iso-border-radius;
    }

    .row{
      height: 118px;
    }
  }

  footer {
    .footer-certificates,
    .footer-contact {
      border-top: 0 solid;
    }
  }
}

