@import "../../base/variables";

.size-thirty{
  width: 1.875em;
  height: 1.875em;
}

.sizes-sixty{
  width: 3.75em;
  height: 3.75em;
}

.size-twenty-four{
  width: 1.5em;
  height: 1.5em;
}

main{
  .icon-profile{
    @extend .size-thirty;
    background: url("../../../images/icons/profile.png");
  }

  .icon-consultants{
    @extend .size-thirty;
    background: url("../../../images/icons/general-consultation.png");
  }

  .icon-transactions{
    @extend .size-thirty;
    background: url("../../../images/icons/transactions.png");
  }

  .icon-secretary-message{
    @extend .size-thirty;
    background: url("../../../images/icons/secretary-message.png");
  }

  .icon-comments{
    @extend .size-thirty;
    background: url("../../../images/icons/comments.png");
  }

  .icon-question-answer{
    @extend .size-thirty;
    background: url("../../../images/icons/question-answer.png");
  }

  .icon-tickets{
    @extend .size-thirty;;
    background: url("../../../images/icons/tickets.png");
  }

  .icon-secretary{
    @extend .size-thirty;
    background: url("../../../images/icons/secretary.png") no-repeat;
  }

  .icon-social-network{
    @extend .size-thirty;
    background: url("../../../images/icons/social-networks.png");
  }

  .filter-reverse-background-to-green{
    filter: hue-rotate(294deg);
  }

  .menu-profile{
    .link-hover{
      &:after{
        bottom: -27.5em;
      }
      &:hover div{
        filter: hue-rotate(356deg);
      }
    }

    .active{
      position: relative;
      &:after{
        content: "";
        position: absolute;
        width: 100%;
        bottom: -0.375em;
        height: 0.25em;
        border-radius: 8px;
        left: 0;
        background: $iso-blue-dark;
      }

      div{
        filter: hue-rotate(356deg);
      }

      &:after{
        bottom: -1.063em;
      }
    }
  }


  .filter-tickets{
    .link-hover{
      &:after{
        bottom: 0;
      }
      &:hover div{
        filter: hue-rotate(356deg);
      }
    }

    .active{
      position: relative;
      &:after{
        content: "";
        position: absolute;
        width: 100%;
        bottom: -0.375em;
        height: 0.25em;
        border-radius: 8px;
        left: 0;
        background: $iso-blue-dark;
      }

      div{
        filter: hue-rotate(356deg);
      }

      &:after{
        bottom: 0.063em;
      }
    }
  }


  .specifications{
    border-left: 0.125em dashed $iso-dark !important;
    width: 8.625em;
  }

  .nav-pills .nav-link.active{
    color: $iso-blue-dark;
  }

  #pills-consultants{
    .badge{
      border-radius: 3.125em;
    }
  }

  .swiper-menu{
    height:4.688em;
    .swiper-slide{
      width: auto !important;
      margin-left:1.813em !important;
    }
    .nav-link{
      cursor: pointer;
    }
  }

  .list-question-answer-user,
  .list-question-answer-news{
    a {
      height:1.125em;
      overflow:hidden;
    }
  }

  /* icons */
  .icon-explorer
  {
    @extend .size-twenty-four;
    background: url("../../../images/icons/explorer.png") no-repeat;
  }

  .icon-pc
  {
    @extend .size-twenty-four;
    background: url("../../../images/icons/pc.png") no-repeat;
  }

  .icon-windows
  {
    @extend .size-twenty-four;
    background: url("../../../images/icons/windows.png") no-repeat;
  }

  .icon-ip
  {
    @extend .size-twenty-four;
    background: url("../../../images/icons/ip.png") no-repeat;
  }

  /* icons man */
  .icon-man1{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/man1.png") no-repeat;
  }

  .icon-man2{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/man2.png") no-repeat;
  }

  .icon-man3{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/man3.png") no-repeat;
  }

  .icon-man4{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/man4.png") no-repeat;
  }

  .icon-man5{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/man5.png") no-repeat;
  }

  .icon-man6{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/man6.png") no-repeat;
  }

  .icon-man7{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/man7.png") no-repeat;
  }

  .icon-man8{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/man8.png") no-repeat;
  }

  .icon-man9{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/man9.png") no-repeat;
  }

  .icon-man10{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/man10.png") no-repeat;
  }

  .icon-man11{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/man11.png") no-repeat;
  }

  .icon-man12{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/man12.png") no-repeat;
  }

  .icon-man13{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/man13.png") no-repeat;
  }

  .icon-man14{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/man14.png") no-repeat;
  }

  .icon-man15{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/man15.png") no-repeat;
  }

  .icon-man16{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/man16.png") no-repeat;
  }

  .icon-man17{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/man17.png") no-repeat;
  }

  .icon-man18{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/man18.png") no-repeat;
  }

  .icon-man19{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/man19.png") no-repeat;
  }

  .icon-man20{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/man20.png") no-repeat;
  }

  .icon-man21{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/man21.png") no-repeat;
  }

  .icon-man22{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/man22.png") no-repeat;
  }

  .icon-man23{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/man23.png") no-repeat;
  }

  .icon-man24{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/man24.png") no-repeat;
  }

  /* icons woman */
  .icon-woman1{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/woman1.png") no-repeat;
  }

  .icon-woman2{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/woman2.png") no-repeat;
  }

  .icon-woman3{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/woman3.png") no-repeat;
  }

  .icon-woman4{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/woman4.png") no-repeat;
  }

  .icon-woman5{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/woman5.png") no-repeat;
  }

  .icon-woman6{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/woman6.png") no-repeat;
  }

  .icon-woman7{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/woman7.png") no-repeat;
  }

  .icon-woman8{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/woman8.png") no-repeat;
  }

  .icon-woman9{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/woman9.png") no-repeat;
  }

  .icon-woman10{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/woman10.png") no-repeat;
  }

  .icon-woman11{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/woman11.png") no-repeat;
  }

  .icon-woman12{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/woman12.png") no-repeat;
  }

  .icon-woman13{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/woman13.png") no-repeat;
  }

  .icon-woman14{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/woman14.png") no-repeat;
  }

  .icon-woman15{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/woman15.png") no-repeat;
  }

  .icon-woman16{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/woman16.png") no-repeat;
  }

  .icon-woman17{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/woman17.png") no-repeat;
  }

  .icon-woman18{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/woman18.png") no-repeat;
  }

  .icon-woman19{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/woman19.png") no-repeat;
  }

  .icon-woman20{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/woman20.png") no-repeat;
  }

  .icon-woman21{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/woman21.png") no-repeat;
  }

  .icon-woman22{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/woman22.png") no-repeat;
  }

  .icon-woman23{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/woman23.png") no-repeat;
  }

  .icon-woman24{
    @extend .sizes-sixty;
    background: url("../../../images/profile_user/woman24.png") no-repeat;
  }

  .swiper-wrapper{
    transition: 0.8s ease-in;
  }

  .img-payment-receipt{
    img{
      width: 15.625em;
      height: 15.625em;
    }
  }

  .copy-number-consistency{
    width: 10em;
  }

  .search-box-user{
    width: 21.625em;
    height: 2.625em;
    input,i{
      height: 40px;
    }
  }

}
