@import "../../base/variables";

@keyframes animate-move-text {
  0%   {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);

  }
  100% {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -o-transform: translateX(100%);
  }
}

.start-motion-move-text{
  animation: animate-move-text 22s linear infinite;
  -webkit-animation: animate-move-text 22s linear infinite;
  -moz-animation: animate-move-text 22s linear infinite;
  -o-animation: animate-move-text 22s linear infinite;
}

.links-question-answer{
  height:1.375em;
}

#collapse_froum{
  .form-select-birth{
    width:10em;
  }

  .input-height,
  .input-weight{
    width: 6.2em;
    span{
      top: 7px;
      left: 6px;
    }
  }
}

.icon-question,
.icon-folder-open{
  width: 24px;
  height: 24px;
}

.icon-question{
  background: url("../../../images/icons/question.png") no-repeat;
}

.icon-folder-open{
  background: url("../../../images/icons/folder.png") no-repeat;
}
