main .animated {
  height: 15em;
}

.banner-pattern{
  width: 100%;
  height: 24em;
  background-image: url("../../../images/background/pattern.png");
  background-size: 100% 27.5em;
}

svg {
  display: none;
}

.section-svg{
  width: 100%;
  height: 15.625em;
}

.section-comment-doctors{
  .swiper-slide {
    height: 15.5em;
  }

  .swiper-wrapper{
    height: 18em;
  }

  .card{
    width: 25em;
    height: 9.375em;
  }

  .figure{
    top: -2.25em;
    right: .875em;
  }

  .swiper-pagination-comment-doctors{
    bottom: -.063em;
  }
}

#code_security{
  height: 2.438em;
}

.swiper-comment-doctors{
  .swiper-slide-next{
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transform: scale(1.3,1.3);
    -webkit-transform: scale(1.3,1.3);
    -moz-transform: scale(1.3,1.3);
    -o-transform: scale(1.3,1.3);
    margin-right: 3.25em;
    margin-left: 4.375em !important;
  }
}

