.style-filter-and-sort, .filter-img-dark, .filter-img-light, .sort-img-dark, .sort-img-light {
  width: 1.5em;
  height: 1.5em;
  background-size: cover;
  background-repeat: no-repeat; }

.filter-img-dark {
  background-image: url("../../../images/icons/filter-dark.png"); }

.filter-img-light {
  background-image: url("../../../images/icons/filter-light.png"); }

.sort-img-dark {
  background-image: url("../../../images/icons/sort-dark.png"); }

.sort-img-light {
  background-image: url("../../../images/icons/sort-light.png"); }

.show-doctors-more .btn {
  top: -1.3em; }

#offcanvas_sort {
  border-radius: 1.25em 1.25em 0 0; }

.filter {
  width: 29.8%; }
